<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
		<meta name="format-detection" content="telephone=yes">
		<meta name="Keywords" content="亿策数字校园">
		<meta name="description" content="亿策数字校园" />
		<title>亿策数字校园--活动</title>
		<link rel="stylesheet" href="./librarycss/base.css" />
		<link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />
	</head>

	<body>
		<section class="activityWrap" id="jactivityApp">
			<div class="container full">
				<div class="activityInner">
					<div class="activityHeader">
						学习活动 <span v-for="item in studyArr" v-cloak>{{item.activityPersentage}}</span>
					</div>
					<div class="changeBtnGroup">
						<a href="javascript:;" @click="changeShow(1)" :class="{active: completeState ==1 }">未完成</a>
						<a href="javascript:;" @click="changeShow(2)" :class="{active: completeState ==2 }">已完成</a>
					</div>
					<!--未完成-->
					<div class="activityList" v-if="completeState == 1">
						<a class="activityLi" v-for="item in activityArr" v-cloak target="_blank" :href="item.activityId | gotoActivity">
							<div class="img">
								<img :src="item.iconPath | addRootFile" />
							</div>
							<div class="left">
								<div class="title">{{item.activityName}}</div>
								<div class="content">{{item.note}}</div>
								<span class="time">时间：{{item.beginTime}}</span>
								<span class="state" href="javascript:;">未完成</span>
							</div>
						</a>
						
						<ul class="pagenationbox clearfix" style="padding: 30px 0 50px">
							<li v-show="current != 1" @click="current-- && goto(current--)">
								<a href="#this">上一页</a>
							</li>
							<li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
								<a href="#this">{{index}}</a>
							</li>
							<li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
								<a href="#this">下一页</a>
							</li>
						</ul>
						
						<div class="fenodata" v-if="activityArr.length == 0"></div>
					</div>

					<!--已完成-->
					<div class="activityList completeList" v-if="completeState == 2">
						<a class="activityLi" v-for="item in activityArr2" v-cloak target="_blank" :href="item.activityId | gotoActivity">
							<div class="img">
								<img :src="item.iconPath | addRootFile" />
							</div>
							<div class="left">
								<div class="title">{{item.activityName}}</div>
								<div class="content" v-html="item.content"></div>
								<span class="time">时间：{{item.beginTime}}</span>
								<span class="state" href="javascript:;">已完成</span>
							</div>
						</a>
						
						<ul class="pagenationbox clearfix" style="padding: 30px 0 50px">
							<li v-show="current2 != 1" @click="current2-- && goto(current2--)">
								<a href="#this">上一页</a>
							</li>
							<li v-cloak v-for="index in pages2" @click="goto2(index)" :class="{'active':current2 == index}" :key="index">
								<a href="#this">{{index}}</a>
							</li>
							<li v-show="allpage2 != current2 && allpage2 != 0 " @click="current2++ && goto2(current2++)">
								<a href="#this">下一页</a>
							</li>
						</ul>
						<div class="fenodata" v-if="activityArr2.length == 0"></div>
					</div>
	
				</div>
			</div>
		</section>
		<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
		<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
		<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
		<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
		<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
		<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
		<script type="text/javascript" src="./libraryjs/config.js"></script>
	</body>

</html>