<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
		<meta name="format-detection" content="telephone=yes">
		<meta name="Keywords" content="亿策数字校园">
		<meta name="description" content="亿策数字校园" />
		<title>亿策数字校园--学习</title>
		<link rel="stylesheet" href="./librarycss/base.css" />
		<link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />
	</head>

	<body>
		<section class="studyWrap" id="jstudyApp">
			<div class="container full">
				<div class="studyInner">
					<div class="studyHeader">
						<ul>
							<li @click="changeShow(1)" :class="{active:courseFlag}">课程</li>
							<li @click="changeShow(2)" :class="{active:timeTableFlag}">课表</li>
							<li @click="changeShow(3)" :class="{active:scoreFlag}">成绩</li>
							<li @click="changeShow(4)" :class="{active:taskFlag}">作业</li>
						</ul>
					</div>
					<!--课程-->
					<div class="courseInner" v-if="courseFlag">
						<ul class="courseUl">
							<li class="courseLi" v-for="item in courseList" v-cloak>
								<div class="img">
									<img :src="item.iconPath | addRootFile" />
								</div>
								<div class="courseLeft">
									<h4>{{item.courseName}}</h4>
									<a title="取消收藏" class="courseCollectionBtn" href="javascript:;" @click="cancelCollection(item,item.courseId)"></a>
									<div class="teacherInf clearfix">
										<img :src="item.teacherIconPath | addRootFile" />
										<p>{{item.teacherName}}老师 </p>
										<p>{{item.clickCount}}次播放</p>
									</div>
									<a class="courseStudyBtn" target="_blank" :href="item.courseId,item.videoId,item.watchTime | gotoPlayer">继续学习</a>
								</div>
							</li>
						</ul>
						<div class="fenodata" v-if="courseList.length == 0"></div>
						<ul class="pagenationbox clearfix" style="padding: 30px 0 50px">
							<li v-show="current != 1" @click="current-- && goto(current--)">
								<a href="#this">上一页</a>
							</li>
							<li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
								<a href="#this">{{index}}</a>
							</li>
							<li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
								<a href="#this">下一页</a>
							</li>
						</ul>
					</div>
					<!--课表-->
					<div class="timeTableInner" v-if="timeTableFlag">
						<div class="timeTableBox">
							<table v-if="courseSchedule.length != 0">
								<caption>课程表</caption>
								<tr class="thLi">
									<th></th>
									<th>MONDAY</th>
									<th>TUESDAY</th>
									<th>WEDNESDAY</th>
									<th>THURSDAY</th>
									<th>FRIDAY</th>
								</tr>
								<tr v-for="(item,index) in courseSchedule" v-if="index == 0" v-cloak>
									<td>第一节</td>
									<td>
										<a href="javascript:;">{{item.w1}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w2}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w3}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w4}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w5}}</a>
									</td>
								</tr>
								<tr v-for="(item,index) in courseSchedule" v-if="index == 1" v-cloak>
									<td>第二节</td>
									<td>
										<a href="javascript:;">{{item.w1}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w2}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w3}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w4}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w5}}</a>
									</td>
								</tr>
								<tr v-for="(item,index) in courseSchedule" v-if="index == 2" v-cloak>
									<td>第三节</td>
									<td>
										<a href="javascript:;">{{item.w1}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w2}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w3}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w4}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w5}}</a>
									</td>
								</tr>
								<tr v-for="(item,index) in courseSchedule" v-if="index == 3" v-cloak>
									<td>第四节</td>
									<td>
										<a href="javascript:;">{{item.w1}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w2}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w3}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w4}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w5}}</a>
									</td>
								</tr>
								<tr class="trMiddle">
									<td></td>
									<td colspan="5">
										<a href="javascript:;">午休</a>
									</td>
								</tr>
								<tr v-for="(item,index) in courseSchedule" v-if="index == 4" v-cloak>
									<td>第五节</td>
									<td>
										<a href="javascript:;">{{item.w1}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w2}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w3}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w4}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w5}}</a>
									</td>
								</tr>
								<tr v-for="(item,index) in courseSchedule" v-if="index == 5" v-cloak>
									<td>第六节</td>
									<td>
										<a href="javascript:;">{{item.w1}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w2}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w3}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w4}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w5}}</a>
									</td>
								</tr>
								<tr v-for="(item,index) in courseSchedule" v-if="index == 6" v-cloak>
									<td>第七节</td>
									<td>
										<a href="javascript:;">{{item.w1}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w2}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w3}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w4}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w5}}</a>
									</td>
								</tr>
								<tr v-for="(item,index) in courseSchedule" v-if="index == 7" v-cloak>
									<td>第八节</td>
									<td>
										<a href="javascript:;">{{item.w1}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w2}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w3}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w4}}</a>
									</td>
									<td>
										<a href="javascript:;">{{item.w5}}</a>
									</td>
								</tr>
							</table>
							<div class="fenodata" v-else></div>
						</div>
					</div>
					<!--成绩-->
					<div class="scoreInner" v-if="scoreFlag">
						<div class="scoreCourseBox">
							<select name="scoreCourseSelect" v-model="subjectId" @change="showScore">
								<option value="" selected="selected" >全部</option>
								<option value="语文" v-for="item in subjectArr" :value="item.subjectId"  v-cloak>{{item.subjectName}}</option>
							</select>
						</div>
						<table>
							<tr>
								<th>考试日期</th>
								<th class="thSubject">科目</th>
								<th class="thName">名称</th>
								<th>成绩</th>
								<th>班级排名</th>
								<th>年段排名</th> 
							</tr>
							<tr v-for="item in scoreArr" v-cloak>
								<td>{{item.examDate}}</td>
								<td>{{item.subjectName}}</td>
								<td>{{item.examName}}</td>
								<td>{{item.score}}</td>
								<td>{{item.classRanking}}</td>
								<td>{{item.gradeRanking}}</td>
							</tr>
						</table>
						<div class="fenodata" v-if="scoreArr.length == 0"></div>
						<ul class="pagenationbox clearfix" style="padding: 30px 0 50px">
							<li v-show="currentScore != 1" @click="currentScore-- && gotoScore(currentScore--)">
								<a href="#this">上一页</a>
							</li>
							<li v-cloak v-for="index in pageScore" @click="gotoScore(index)" :class="{'active':currentScore == index}" :key="index">
								<a href="#this">{{index}}</a>
							</li>
							<li v-show="allpageScore != currentScore && allpageScore != 0 " @click="currentScore++ && gotoScore(currentScore++)">
								<a href="#this">下一页</a>
							</li>
						</ul>
					</div>
					<!--作业-->
					<div class="taskInner" v-if="taskFlag">
						<div class="taskSelectBox">
							学科分类:
							<select name="taskCourseSelect" id="subject" v-model="hsubjectId" @change="showTask">
								<option value="">全部</option>
								<option :value="item.subjectId" v-cloak v-for="item in taskSubjectArr">{{item.subjectName}}</option>
							</select>
							上交时间:
							<select name="taskSubTime" id="time" v-model="upTime" @change="showTask">
								<option value="3">全部</option>
								<option value="0">今天</option>
								<option value="1">近三天</option>
								<option value="2">近一周</option>
							</select>
							完成状态:
							<select name="taskStatu" id="state" v-model="states" @change="showTask">
								<option value="2">全部</option>
								<option value="0">未完成</option>
								<option value="1">已完成</option>
							</select>
						</div>
						<table>
							<tr>
								<th>序号</th>
								<th>作业名称</th>
								<th>学科</th>
								<th>教师</th>
								<th>上交时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
							<tr v-for="(item,index) in taskArr" v-cloak>
								<td>{{index+1}}</td>
								<td>{{item.name}}</td>
								<td>{{item.subjectname}}</td>
								<td>{{item.teachername}}</td>
								<td>{{item.endTime}}</td>
								<td>{{item.states|getState}}</td>
								<td>
									<a :href="item.paperId|answerQuestion" v-if="item.states==0">答题</a>
									<a :href="item.paperId|review" v-else style="color: #ff8d39">回顾</a>
								</td>
							</tr>
							<!--<tr>-->
								<!--<td>1</td>-->
								<!--<td>勾股定理</td>-->
								<!--<td>数学</td>-->
								<!--<td>丁一名</td>-->
								<!--<td>2017/10/30</td>-->
								<!--<td>已完成</td>-->
								<!--<td>答题</td>-->
							<!--</tr>-->
							<!--<tr>-->
								<!--<td>1</td>-->
								<!--<td>勾股定理</td>-->
								<!--<td>数学</td>-->
								<!--<td>丁一名</td>-->
								<!--<td>2017/10/30</td>-->
								<!--<td>已完成</td>-->
								<!--<td>答题</td>-->
							<!--</tr>-->
						</table>
						<div class="fenodata" v-if="taskArr.length == 0"></div>
						<ul class="pagenationbox clearfix" style="padding: 30px 0 50px">
							<li v-show="currentTask != 1" @click="currentTask-- && gotoTask(currentTask--)">
								<a href="#this">上一页</a>
							</li>
							<li v-cloak v-for="index in pageTask" @click="gotoTask(index)" :class="{'active':currentTask == index}" :key="index">
								<a href="#this">{{index}}</a>
							</li>
							<li v-show="allpageTask != currentTask && allpageTask != 0 " @click="currentTask++ && gotoTask(currentTask++)">
								<a href="#this">下一页</a>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</section>
		<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
		<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
		<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
		<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
		<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
		<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
		<script type="text/javascript" src="./libraryjs/config.js"></script>
	</body>

</html>