<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="福建教育网">
    <meta name="description" content="福建教育网" />
    <title>老师个人中心-布置作业</title>
    <link rel="shortcut icon" href="../images/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/swiper,animate,scroll.min.css" />
    <link rel="stylesheet" href="../css/fetv.css" />
    <link rel="stylesheet" href="../css/fetvAppend.css" />

</head>

<body>
<header id="header">
    <teacher-header-template></teacher-header-template>
</header>
<section class="feteachercenter">
    <div class="container">
        <div id="leftaside">
            <teacher-left-template></teacher-left-template>
        </div>
        <div class="feteacherpersonalcenter-right"  style="position: relative;min-height: 1500px">
            <div class="feteacherpersonalcenter-right-head ">
                <span>学生管理 <i class="uk-icon-angle-right"></i></span>
                <span>布置作业</span>
                <!--<a href="coursecenter.html" style="color: #e55e2a;margin-left: 20px;font-size: 16px">进入选课中心</a>-->
            </div>
            <!--我的课程-->
            <div class="festudentmycourse" >
                <!--头部切换栏-->
                <div class="fehead">
                    <b>任务:</b>
                    <span class="active" data-id="1">在线作业</span>
                    <span data-id="2">在线考试</span>
                </div>


                <!--内容显示栏-->
                <!--在线作业-->
                <div id="homework">
                    <!--筛选框-->
                    <div class="feselect">
                        <p>
                            <button id="paperWork"><i class="uk-icon-plus-circle"></i>布置作业</button>
                            <button id="photoWork"><i class="uk-icon-plus-circle"></i>图片作业</button>
                            <button id="batchQuestion"><i class="uk-icon-plus-circle"></i>批量导题</button>
                        </p>
                        <p>
                            <span>科目:</span>
                            <select name="" id="subject">
                                <option value="1">语文</option>
                                <option value="2">数学</option>
                            </select>
                            <span>布置时间:</span>
                            <select name="" id="time">
                                <option value="1">今天</option>
                                <option value="2">近3天</option>
                                <option value="2">近1周</option>
                                <option value="2">近1月</option>
                            </select>
                        </p>
                    </div>
                    <div class="fecontent">
                        <div class="fetitle">
                            <div class="span1">序号</div>
                            <div class="span2">作业名称</div>
                            <div class="span2">课程名称</div>
                            <div class="span2">班级</div>
                            <div class="span2">布置时间</div>
                            <div class="span1">完成人数</div>
                            <div class="span2">操作</div>
                        </div>
                        <div class="felist" v-cloak v-for="(item,index) in homework">
                            <div class="span1">{{index+1}}</div>
                            <div class="span2"><a v-bind:title="item.courseName" class="textoverflow">{{item.courseName}}</a></div>
                            <div class="span2"><a v-bind:title="item.subjectName" class="textoverflow">{{item.subjectName}}</a></div>
                            <div class="span2">{{item.playState}}</div>
                            <div class="span2">{{item.playBeginTime}}</div>
                            <div class="span1" @click="bindCompleteease(item.rownum)">{{item.rownum}}</div>
                            <div class="span2">
                                <a href="">查看</a>
                                <span>|</span>
                                <a  class="bulecolor">批改</a>
                                <span>|</span>
                                <a  class="">提醒</a>
                            </div>
                        </div>
                    </div>
                    <!--枫叶-->
                    <ul class="pagenationbox" style="position: absolute;bottom: 0;left: 0;right: 0">
                        <li v-cloak v-show="current != 1" @click="current-- && goto(current--)">
                            <a href="#this">上一页</a>
                        </li>
                        <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                            <a href="#this">{{index}}</a>
                        </li>
                        <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                            <a href="#this">下一页</a>
                        </li>
                    </ul>
                </div>
                <!--在线考试-->
                <div id="onlineexam" style="display: none">
                    <!--筛选框-->
                    <div class="feselect">
                        <p>
                            <button><i class="uk-icon-plus-circle"></i>发布考试</button>
                            <span>科目:</span>
                            <select name="" id="subject1">
                                <option value="1">语文</option>
                                <option value="2">数学</option>
                            </select>
                            <span>布置时间:</span>
                            <select name="" id="time1">
                                <option value="1">今天</option>
                                <option value="2">近3天</option>
                                <option value="2">近1周</option>
                                <option value="2">近1月</option>
                            </select>
                        </p>
                    </div>
                    <div class="fecontent">
                        <div class="fetitle">
                            <div class="span1">序号</div>
                            <div class="span2">作业名称</div>
                            <div class="span2">课程名称</div>
                            <div class="span2">班级</div>
                            <div class="span2">布置时间</div>
                            <div class="span1">完成人数</div>
                            <div class="span2">操作</div>
                        </div>
                        <div class="felist" v-cloak v-for="(item,index) in onlinetest">
                            <div class="span1">{{index+1}}</div>
                            <div class="span2"><a v-bind:title="item.courseName" class="textoverflow">{{item.courseName}}</a></div>
                            <div class="span2"><a v-bind:title="item.subjectName" class="textoverflow">{{item.subjectName}}</a></div>
                            <div class="span2">{{item.playState}}</div>
                            <div class="span2">{{item.playBeginTime}}</div>
                            <div class="span1">{{item.rownum}}</div>
                            <div class="span2">
                                <a href="">查看</a>
                                <span>|</span>
                                <a  class="bulecolor">批改</a>
                                <span>|</span>
                                <a  class="">提醒</a>
                            </div>
                        </div>
                    </div>
                    <!--枫叶-->
                    <ul class="pagenationbox" style="position: absolute;bottom: 0;left: 0;right: 0">
                        <li v-cloak v-show="current != 1" @click="current-- && goto(current--)">
                            <a href="#this">上一页</a>
                        </li>
                        <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                            <a href="#this">{{index}}</a>
                        </li>
                        <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                            <a href="#this">下一页</a>
                        </li>
                    </ul>
                </div>
                <div style="clear: both"></div>
            </div>

        </div>
        <div style="clear: both"></div>
    </div>
</section>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.zclip.js"></script>
<script type="text/javascript" src="../js/jquery.storage.js"></script>
<script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="../js/layer,wow,scroll.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/vue-resource.min.js"></script>
<script type="text/javascript" src="../js/fetv.js"></script>
<script type="text/javascript" src="../js/fetvAppend.js"></script>
<script type="text/javascript" src="../js/feteachercenter.js"></script>
<script>
    $(function () {
        arrangework();
    })
</script>
</body>

</html>