<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
		<meta name="format-detection" content="telephone=yes">
		<meta name="Keywords" content="亿策数字校园">
		<meta name="description" content="亿策数字校园" />
		<title>亿策数字校园-学习活动</title>
		<link rel="stylesheet" href="./librarycss/base.css" />
		<link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />

	</head>

	<body>
		<!--头部-->
		<header id="header">
			<header-template></header-template>
		</header>

		<!--学习活动-->
		<section id="learningActivities" class="learningActivities">
			<div class="container">
				<div class="learningStencil clearfix">
					<div class="topLink">
						<h1>学校活动 > <span>学习活动</span></h1>
					</div>
					<div id="learningList" class="learningList span9">
						<div class="moduleTitleWrapper">
							<span class="titleTip">Learning activities</span>
							<h1 class="title">学习活动</h1>
						</div>

						<!--列表内容-->
						<div class="learningActivitiesLeft ">
							<div class="learningListLeftContent" v-for="info in data">
								<a :href="info.activityId ,1 |gotoDetail" class="learningListLeftBox" target="_blank">
									<div class="learningListLeftImage">
										<img v-bind:src="info.iconPath | addRootFile" alt="">
									</div>
									<h1 class="leftTextTitle" v-text="info.title"></h1>
									<p class="leftText " v-text="info.describe"></p>
									<p class="leftText titleHeader" v-text="'班级：'+ info.className"></p>
									<p class="leftText" v-text="'时间：'+ info.beginTime"></p>
								</a>
							</div>
							<ul class="pagenationbox clearfix" style="padding: 30px 0 50px">
								<li v-show="current != 1" @click="current-- && goto(current--)">
									<a href="#this">上一页</a>
								</li>
								<li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
									<a href="#this">{{index}}</a>
								</li>
								<li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
									<a href="#this">下一页</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="learningListRight span3">
						<div class="learningListRankings">
							<div class="moduleTitleWrapper">
								<span class="titleTip">Top ranking</span>
								<h1 class="title">热门排行</h1>
							</div>
							<ul class="panelUl">
								<a class="panelContent" v-for="info in data_Rankings" :href="info.activityId ,1 |gotoDetail" target="_blank">
									<div class="panelImage">
										<img v-bind:src="info.iconPath | addRootFile" alt="">
									</div>
									<h2 v-html="info.title"></h2>
								</a>
							</ul>
						</div>
						<!--热门推荐-->
						<div class="learningListHotarticle" id="fehotarticle">
							<div class="moduleTitleWrapper">
								<span class="titleTip">Hot recommended</span>
								<h1 class="title">热门推荐</h1>
							</div>
							<div class="panel">
								<div class="panelBox" :class="{panelBoxprv:index==0}" v-for="(info,index) in data_Recommended">
									<a v-text="info.title" :href="info.activityId ,1 |gotoDetail" target="_blank"> </a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</section>

		<footer id="footer">
			<footer-template></footer-template>
		</footer>

		<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
		<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
		<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
		<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
		<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
		<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
		<script type="text/javascript" src="./libraryjs/config.js"></script>

	</body>

</html>