<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="福建教育网">
    <meta name="description" content="福建教育网" />
    <title>家长消息管理-评论回复</title>
    <link rel="shortcut icon" href="../images/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/swiper,animate,scroll.min.css" />
    <link rel="stylesheet" href="../css/fetv.css" />
    <link rel="stylesheet" href="../css/fetvAppend.css" />

</head>

<body>
<header id="header">
    <parent-header-template></parent-header-template>
</header>
<section class="feteachercenter">
    <div class="container">
        <div id="leftaside">
            <parent-left-template></parent-left-template>
        </div>
        <div class="feteacherpersonalcenter-right"  style="position: relative" id="discussreply">
            <div class="feteacherpersonalcenter-right-head ">
                <span>消息管理 <i class="uk-icon-angle-right"></i></span>
                <span>我的消息</span>
                <a href="" style="color: #00a8e6;margin-left: 20px;font-size: 16px"> <i class="uk-icon-refresh" style="margin-right: 10px"></i>刷新</a>
            </div>
            <div class="femessage-head">
                <p><b>我的消息 :</b><a href="parentansweringreply.html">答疑回复 <i v-cloak v-bind:class="replynum<=0 ? 'fehidden':''">{{replynum}}</i></a><a class="active">评论回复 <i v-cloak v-bind:class="discussnum<=0 ? 'fehidden':''">{{discussnum}}</i></a><a href="parentwebnotice.html">网站通知 <i v-cloak v-bind:class="webnoticenum<=0 ? 'fehidden':''">{{webnoticenum}}</i></a></p>
                <div class="feselect">
                    <b>所有消息 :</b>
                    <span data-id="0" class="active">全部</span>
                    <span data-id="1">已读</span>
                    <span data-id="2">未读</span>
                    <p><button id="allSelect">全选</button>| <button id="setRead">标记为已读</button>| <button id="delete">删除</button></p>
                </div>
            </div>
            <!--答疑回复-->
            <div class="feansweringreply" >
                <div class="fetitle">
                    <div class="span1">选择</div>
                    <div class="span3">评论内容</div>
                    <div class="span2">评论来源</div>
                    <div class="span2">评论人</div>
                    <div class="span2">时间</div>
                    <div class="span2">操作</div>
                </div>
                <div class="felist" v-cloak v-for="item in result" v-bind:class="item.states==1 ? 'felist graybg':'felist'">
                    <div class="span1"><input type="checkbox" v-bind:data-id="item.courseEvaluationId"></div>
                    <div class="span3"><a class="textoverflow" v-bind:title="item.evaluation">{{item.evaluation}}</a></div>
                    <div class="span2"><a class="textoverflow" v-bind:href="item.courseId,item.recordType|addSource">{{item.coursename}}</a></div>
                    <div class="span2">{{item.valuator}}</div>
                    <div class="span2">{{item.time}}</div>
                    <div class="span2">
                        <a class="lookdetail" @click="lookdetail(item.courseEvaluationId,item.coursename,item.valuator,item.courseId,item.levelOneEvaluationId,item.parentId)">回复</a>
                    </div>
                </div>
                <!--枫叶-->
                <ul class="pagenationbox" style="position: absolute;bottom: 0;left: 0;right: 0">
                    <li v-cloak v-show="current != 1" @click="current-- && goto(current--)">
                        <a href="#this">上一页</a>
                    </li>
                    <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                        <a href="#this">{{index}}</a>
                    </li>
                    <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                        <a href="#this">下一页</a>
                    </li>
                </ul>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.zclip.js"></script>
<script type="text/javascript" src="../js/jquery.storage.js"></script>
<script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="../js/layer,wow,scroll.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/vue-resource.min.js"></script>
<script type="text/javascript" src="../js/fetv.js"></script>
<script type="text/javascript" src="../js/fetvAppend.js"></script>
<script type="text/javascript" src="../js/feparentcenter.js"></script>
<script>
    $(function () {
        discussreply();
    })
</script>
</body>

</html>