<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="亿策数字校园">
    <meta name="description" content="亿策数字校园" />
    <title>老师个人中心-题目选择弹框</title>
    <link rel="stylesheet" href="./librarycss/base.css" />
    <link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />
    <link rel="stylesheet" href="./librarycss/Ecalendar.css" />

</head>
<body>
<div class="container">
    <!--<div class=""  style="position: relative;width: 880px;margin: auto;background: #fff" id="homeworkdetail">-->
    <!--布置作业1级页面-->
    <div class="fe-select-question-pop clearfix" id="selectQuestion">
        <div class="fe-select-question-left">
            <p><input type="text" placeholder="请输入题目名称"></p>
            <div class="fe-select-condition">
                <div class="fe-checkall">
                    <input type="checkbox" id="checkall">
                    <label for="checkall">全选</label>
                </div>
                <!--<div class="fe-classify">-->
                    <!--<button>分类 <i class="uk-icon-caret-down"></i></button>-->
                    <!--&lt;!&ndash;子类触发父类隐藏方法&ndash;&gt;-->
                    <!--<b style="display: none" id="hidden-btn1"></b>-->

                    <!--<input type="hidden" id="selectSortId">-->
                    <!--<input type="hidden" id="selectSource">-->
                    <!--<input type="hidden" id="selectName">-->

                    <!--<div class="fe-already-mes">-->
                        <!--<a></a><b class="uk-icon-times"></b>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="fe-difficulty">
                    <button>难度 <i class="uk-icon-caret-down"></i></button>
                    <div class="fe-already-difficulty">
                        <a></a><b class="uk-icon-times"></b>
                    </div>
                    <ul>
                        <li data-id="1">简单</li>
                        <li data-id="2">一般</li>
                        <li data-id="3">困难</li>
                    </ul>
                </div>
                <div class="fe-type">
                    <button>类型 <i class="uk-icon-caret-down"></i></button>
                    <div class="fe-already-type">
                        <a></a><b class="uk-icon-times"></b>
                    </div>
                    <ul>
                        <li v-cloak v-for="item in questionType" v-bind:data-id="item.questionTypeId">{{item.name}}</li>
                        <!--  <li>填空题</li>
                          <li>简答题</li>-->
                    </ul>
                </div>
                <div class="fe-course">
                    <button>课程 <i class="uk-icon-caret-down"></i></button>
                    <div class="fe-already-course">
                        <a></a><b class="uk-icon-times"></b>
                    </div>
                    <ul>
                        <li v-cloak v-for="item in courseList" v-bind:data-id="item.courseId">{{item.courseName}}</li>
                    </ul>
                </div>
            </div>
            <div class="fe-question-bank" style="overflow-y:auto">
                <div class="fe-item" v-cloak v-for="item in questionList">
                    <span><input style="display:none" type="checkbox" v-bind:data-id="item.questionId" v-bind:data-score="item.theValue"></span>
                    <h3>{{item.stem}}</h3>
                </div>
                <div class="fe-load-more">
                    <button v-show="!nodata" v-cloak>已全部加载</button>
                    <button @click="lodingMore()" v-show="nodata" v-cloak>点击加载更多</button>
                </div>
            </div>
        </div>
        <div class="fe-select-question-right">
            <div class="fe-select-question-right-top">
                <span>已选题目:</span>
                <button>重新选择</button>
                <!--<button style="background: #00aaff;color: #fff;border-color:#00aaff">确定</button>-->
            </div>
            <div class="fe-already-select-question" style="overflow-y:auto">
                <div class="fe-item" v-cloak v-for="item in rightAlready">
                    <h3>{{item.name}}</h3>
                    <i v-bind:data-id="item.Id" v-bind:data-source="item.source" class="uk-icon-times"></i>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="feoperation">
            <button>确定</button>
        </div>
    </div>
    <!--</div>-->
</div>

<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
<script type="text/javascript" src="./libraryjs/Ecalendar.jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/config.js"></script>
</body>
</html>