<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="亿策数字校园">
    <meta name="description" content="亿策数字校园" />
    <title>老师个人中心-教研</title>
    <link rel="stylesheet" href="./librarycss/base.css" />
    <link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />

</head>
<body style="background: #fff;">
<section id="teacherCenterActivity">
    <div class="teacherCenterActivity">
        <div class="title">
            <span class="active" data-id="0">教研讨论</span>
            <span data-id="1">教研成果</span>
        </div>
        <div class="btnWrapper">
            <a class="btnStyle" style="margin-right: 40px" href="creatediscuss.html"><i class="uk-icon-plus-circle"></i>发起教研讨论</a>
            <a class="btnStyle" style="margin-right: 0" href="updateachievement.html"><i class="uk-icon-plus-circle"></i>上传教研结果</a>
        </div>
        <div class="discuss" v-cloak v-if="state==0">
            <div class="fenodata" v-cloak v-show="nodiscuss"></div>
            <div class="item" v-for="item in discuss" v-cloak>
                <h1 class="name">{{item.researchTitle}}</h1>
                <!--<span class="state nobegin">未开始</span>-->
                <p class="intro">{{item.researchContent}}</p>
                <div class="desc">
                    <div class="time"><span>时间:</span>{{item.researchTime}}</div>
                    <div class="address"><span>地点:</span>{{item.boardroomPosition}}</div>
                    <div class="initiator"><span>发起人:</span>{{item.teacherName}}</div>
                </div>
            </div>
        </div>
        <div class="achievement" v-cloak v-if="state==1">
            <div class="fenodata" v-cloak v-show="noachievement"></div>
            <a class="item" v-for="item in achievement" :href="item.resultId|addResult" target="_blank">
                <div class="image">
                    <img :src="item.coverUrl|addRootFile" alt="">
                </div>
                <div class="boxRight">
                    <h1 class="name">{{item.title}}</h1>
                    <p class="intro">{{item.intro}}</p>
                    <div class="desc">
                        <h4>发起人: {{item.teacherName}}</h4>
                        <h4>时间: {{item.addTime}}</h4>
                    </div>
                </div>
            </a>
        </div>
        <!--枫叶-->
        <ul class="pagenationbox" style="position: absolute;bottom: 0;left: 0;right: 0">
            <li v-cloak v-show="current != 1" @click="current-- && goto(current--)">
                <a href="#this">上一页</a>
            </li>
            <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                <a href="#this">{{index}}</a>
            </li>
            <li v-cloak v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                <a href="#this">下一页</a>
            </li>
        </ul>
    </div>
</section>

<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
<script type="text/javascript" src="./libraryjs/config.js"></script>
</body>
</html>