<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="亿策数字校园">
    <meta name="description" content="亿策数字校园" />
    <title>老师个人中心-课程</title>
    <link rel="stylesheet" href="./librarycss/base.css" />
    <link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />

</head>
<body style="background: #fff;">
<section id="teacherCenterCourse">
    <div class="teacherCenterCourse">
        <div class="title">
            我的课程:
        </div>
        <div class="content">
            <a class="btnStyle" href="uploadcourse.html"><i class="uk-icon-plus-circle"></i>上传课程</a>
            <div class="fenodata" v-cloak v-show="nodata"></div>
            <div class="course" v-for="item in courseArr" v-cloak>
                <div class="image">
                    <img :src="item.iconPath|addRootFile" alt="">
                </div>
                <div class="boxRight">
                    <h1 class="courseName">{{item.name}} <span>{{item.auditState}}</span></h1>
                    <div class="bottom">
                        <span class="head" :style="{background:'url('+ item.teacherIcon +') no-repeat center'}"></span>
                        <div class="desc">
                            <h4 class="teacherName">{{item.teacherName}}</h4>
                            <h4 class="count">{{item.clickCount}}次播放</h4>
                        </div>
                    </div>
                    <div class="operation">
                        <button @click="edit(item.courseId)">编辑</button>
                        <!--<span>|</span>-->
                        <!--<button>查看</button>-->
                        <span>|</span>
                        <button @click="deleteCourse(item.courseId)">删除</button>
                    </div>
                </div>
            </div>
            <!--<div class="course">-->
                <!--<div class="image">-->
                    <!--<img src="../../images/temp/course@276-187.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="boxRight">-->
                    <!--<h1 class="courseName">西游记《移山大圣狮驼王》影视 <span>未审核</span></h1>-->
                    <!--<div class="bottom">-->
                        <!--<span class="head"></span>-->
                        <!--<div class="desc">-->
                            <!--<h4 class="teacherName">杨江宇</h4>-->
                            <!--<h4 class="count">1.7万次播放</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="operation">-->
                        <!--<button>编辑</button>-->
                        <!--<span>|</span>-->
                        <!--<button>查看</button>-->
                        <!--<span>|</span>-->
                        <!--<button>删除</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="course">-->
                <!--<div class="image">-->
                    <!--<img src="../../images/temp/course@276-187.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="boxRight">-->
                    <!--<h1 class="courseName">西游记《移山大圣狮驼王》影视 <span>未审核</span></h1>-->
                    <!--<div class="bottom">-->
                        <!--<span class="head"></span>-->
                        <!--<div class="desc">-->
                            <!--<h4 class="teacherName">杨江宇</h4>-->
                            <!--<h4 class="count">1.7万次播放</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="operation">-->
                        <!--<button>编辑</button>-->
                        <!--<span>|</span>-->
                        <!--<button>查看</button>-->
                        <!--<span>|</span>-->
                        <!--<button>删除</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="course">-->
                <!--<div class="image">-->
                    <!--<img src="../../images/temp/course@276-187.jpg" alt="">-->
                <!--</div>-->
                <!--<div class="boxRight">-->
                    <!--<h1 class="courseName">西游记《移山大圣狮驼王》影视 <span>未审核</span></h1>-->
                    <!--<div class="bottom">-->
                        <!--<span class="head"></span>-->
                        <!--<div class="desc">-->
                            <!--<h4 class="teacherName">杨江宇</h4>-->
                            <!--<h4 class="count">1.7万次播放</h4>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="operation">-->
                        <!--<button>编辑</button>-->
                        <!--<span>|</span>-->
                        <!--<button>查看</button>-->
                        <!--<span>|</span>-->
                        <!--<button>删除</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <!--枫叶-->
        <ul class="pagenationbox" style="position: absolute;bottom: 0;left: 0;right: 0">
            <li v-cloak v-show="current != 1" @click="current-- && goto(current--)">
                <a href="#this">上一页</a>
            </li>
            <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                <a href="#this">{{index}}</a>
            </li>
            <li v-cloak v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                <a href="#this">下一页</a>
            </li>
        </ul>
    </div>
</section>

<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
<script type="text/javascript" src="./libraryjs/config.js"></script>
</body>
</html>