<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="亿策数字校园">
    <meta name="description" content="亿策数字校园" />
    <title>老师个人中心-考勤</title>
    <link rel="stylesheet" href="./librarycss/base.css" />
    <link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />
</head>
<body style="background: #fff;">
<section id="teacherCenterAttendanc">
    <div class="teacherCenterAttendanc">
        <div class="title">
            <span class="active" data-id="0">点名</span>
            <span data-id="1">请假</span>
        </div>
        <div class="namingWrapper">
            <h1>课程表</h1>
            <table>
                <thead>
                    <tr>
                        <th><i></i></th>
                        <th>MONDAY</th>
                        <th>TUESDAY</th>
                        <th>WEDNESDAY</th>
                        <th>THURSDAY</th>
                        <th>FRIDAY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-cloak v-for="(item,index) in table" v-if="index<4">
                        <td>{{item.period|shiftTime}}</td>
                        <td><span :class="item.w1==''? '':'highLight'"><a :href="item.w1|getToWhere">{{item.w1|getClass}}</a></span></td>
                        <td><span :class="item.w2==''? '':'highLight'"><a :href="item.w2|getToWhere">{{item.w2|getClass}}</a></span></td>
                        <td><span :class="item.w3==''? '':'highLight'"><a :href="item.w3|getToWhere">{{item.w3|getClass}}</a></span></td>
                        <td><span :class="item.w4==''? '':'highLight'"><a :href="item.w4|getToWhere">{{item.w4|getClass}}</a></span></td>
                        <td><span :class="item.w5==''? '':'highLight'"><a :href="item.w5|getToWhere">{{item.w5|getClass}}</a></span></td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>第二节</td>-->
                        <!--<td><span>英语</span></td>-->
                        <!--<td><span>英语</span></td>-->
                        <!--<td><span>语文</span></td>-->
                        <!--<td><span>美术</span></td>-->
                        <!--<td><span>英语</span></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>第三节</td>-->
                        <!--<td><span>美术</span></td>-->
                        <!--<td><span>语文</span></td>-->
                        <!--<td><span class="highLight">数学</span></td>-->
                        <!--<td><span>英语</span></td>-->
                        <!--<td><span>体育</span></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>第四节</td>-->
                        <!--<td><span>英语</span></td>-->
                        <!--<td><span>美术</span></td>-->
                        <!--<td><span>体育</span></td>-->
                        <!--<td><span class="highLight">数学</span></td>-->
                        <!--<td><span>语文</span></td>-->
                    <!--</tr>-->
                    <tr>
                        <td></td>
                        <td colspan="5"><span>午休</span></td>
                    </tr>
                    <tr v-cloak v-for="(item,index) in table" v-if="index>3">
                        <td>{{item.period|shiftTime}}</td>
                        <td><span :class="item.w1==''? '':'highLight'"><a :href="item.w1|getToWhere">{{item.w1|getClass}}</a></span></td>
                        <td><span :class="item.w2==''? '':'highLight'"><a :href="item.w2|getToWhere">{{item.w2|getClass}}</a></span></td>
                        <td><span :class="item.w3==''? '':'highLight'"><a :href="item.w3|getToWhere">{{item.w3|getClass}}</a></span></td>
                        <td><span :class="item.w4==''? '':'highLight'"><a :href="item.w4|getToWhere">{{item.w4|getClass}}</a></span></td>
                        <td><span :class="item.w5==''? '':'highLight'"><a :href="item.w5|getToWhere">{{item.w5|getClass}}</a></span></td>
                    </tr>
                    <!--<tr>-->
                        <!--<td>第六节</td>-->
                        <!--<td><span class="highLight">数学</span></td>-->
                        <!--<td><span>语文</span></td>-->
                        <!--<td><span>语文</span></td>-->
                        <!--<td><span>美术</span></td>-->
                        <!--<td><span>英语</span></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>第七节</td>-->
                        <!--<td><span>美术</span></td>-->
                        <!--<td><span>语文</span></td>-->
                        <!--<td><span class="highLight">数学</span></td>-->
                        <!--<td><span>英语</span></td>-->
                        <!--<td><span>体育</span></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>第八节</td>-->
                        <!--<td><span>英语</span></td>-->
                        <!--<td><span>美术</span></td>-->
                        <!--<td><span class="highLight">数学</span></td>-->
                        <!--<td><span class="highLight">数学</span></td>-->
                        <!--<td><span>语文</span></td>-->
                    <!--</tr>-->
                </tbody>
            </table>
        </div>
        <div class="leave" style="display:none;">
            <div class="item" v-cloak v-for="item in leaveArr">
                <div class="head">
                    <div class="headItemBig">请假起始日期</div>
                    <div class="headItem">请假截止日期</div>
                    <div class="headItem">班级</div>
                    <div class="headItem">学生</div>
                    <div class="headItemBig">操作</div>
                </div>
                <div class="list">
                    <div class="listItemBig">{{item.beginTime}}</div>
                    <div class="listItem">{{item.endTime}}</div>
                    <div class="listItem">{{item.className}}</div>
                    <div class="listItem">{{item.studentName}}</div>
                    <div class="listItemBig">
                        <div class="radioBox">
                            <span :class="item.state==1? 'active':''" @click="setYes(item.studentLeaveId,$event)">同意</span>
                            <span :class="item.state==0? 'active':''" @click="setNo(item.studentLeaveId,$event)">不同意</span>
                        </div>
                    </div>
                </div>
                <p><span>理由:</span>{{item.reason}}</p>
            </div>
            <!--<div class="item">-->
                <!--<div class="head">-->
                    <!--<div class="headItem">日期/星期</div>-->
                    <!--<div class="headItem">时间</div>-->
                    <!--<div class="headItem">会议室</div>-->
                    <!--<div class="headItem">状态</div>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="listItem">2018-05-09/星期三</div>-->
                    <!--<div class="listItem">15:30-16:00</div>-->
                    <!--<div class="listItem">会议室（1）</div>-->
                    <!--<div class="listItem alreadyPassed">已通过</div>-->
                <!--</div>-->
                <!--<p><span>理由:</span>去学生家家访去学生家家访去学生家家访去学生家家访去学生家家访去学生家家访去学生家家访</p>-->
            <!--</div>-->
            <!--<div class="item">-->
                <!--<div class="head">-->
                    <!--<div class="headItem">日期/星期</div>-->
                    <!--<div class="headItem">时间</div>-->
                    <!--<div class="headItem">车牌</div>-->
                    <!--<div class="headItem">状态</div>-->
                <!--</div>-->
                <!--<div class="list">-->
                    <!--<div class="listItem">2018-05-09/星期三</div>-->
                    <!--<div class="listItem">15:30-16:00</div>-->
                    <!--<div class="listItem">闽A 562456</div>-->
                    <!--<div class="listItem noThrough">未通过</div>-->
                <!--</div>-->
                <!--<p><span>理由:</span>去学生家家访去学生家家访去学生家家访去学生家家访去学生家家访去学生家家访去学生家家访</p>-->
            <!--</div>-->
            <!--枫叶-->
            <ul class="pagenationbox" style="position: absolute;bottom: 0;left: 0;right: 0">
                <li v-cloak v-show="current != 1" @click="current-- && goto(current--)">
                    <a href="#this">上一页</a>
                </li>
                <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                    <a href="#this">{{index}}</a>
                </li>
                <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                    <a href="#this">下一页</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
<script type="text/javascript" src="./libraryjs/config.js"></script>
</body>
</html>