<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="亿策数字校园">
    <meta name="description" content="亿策数字校园" />
    <title>老师个人中心-成绩</title>
    <link rel="stylesheet" href="./librarycss/base.css" />
    <link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />
</head>
<body style="background: #fff;">
<section id="teachercenterscore">
    <div class="teachercenterscore">
        <div class="top">班级成绩:</div>
        <select name="" id="classes" v-model="classId" v-cloak>
            <option :value="item.classId" v-for="item in classes" v-cloak>{{item.className}}</option>
        </select>
        <div class="contentWrapper">
            <div class="head">
                <div class="headItem">时间</div>
                <div class="headItem">考试名称</div>
                <div class="headItem">操作</div>
            </div>
            <div class="content">
                <div class="list" v-cloak v-for="(item,index) in list">
                    <div class="listItem">{{item.examDate}}</div>
                    <div class="listItem">{{item.examName}}</div>
                    <div class="listItem">
                        <a class="editBtn" @click="goToDetail(item.examId,item.subjectId,item.examName)">查看</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
<script type="text/javascript" src="./libraryjs/config.js"></script>
</body>
</html>