<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="亿策数字校园">
    <meta name="description" content="亿策数字校园" />
    <title>亿策数字校园-详情</title>
    <link rel="stylesheet" href="./librarycss/base.css" />
    <link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />

</head>
<body>
<!--头部-->
<header id="header">
    <header-template></header-template>
</header>

<!--学习活动详情-->
<section id="teachingActivitiesetails" class="teachingActivitiesetails" v-if="data.currentActivity">
    <div class="container">
        <div class="teachingEtailsStencil clearfix">
            <div class="topLink">
                <h1 v-cloak>{{activityTypeName}} > <span v-text="data.currentActivity[0].title"></span></h1>
            </div>
            <div class="etailsTitle" v-text="data.currentActivity[0].title"></div>
                <div class="etailsDate " v-text="'更新时间：'+data.currentActivity[0].beginTime"></div>
                <div class="etailsContent" v-html="data.currentActivity[0].content">
                    <!--<img src="../../images/temp/content.png" alt="">-->
                </div>
                <ul class="pagenationbox clearfix">
                    <li v-if="data.priorActivity[0].activityId"><a :href="data.priorActivity[0].activityId |gotoDetail" v-cloak>上一篇:{{data.priorActivity[0].title}}</a></li>
                    <li v-if="data.nextActivity[0].activityId"><a :href="data.nextActivity[0].activityId |gotoDetail" v-cloak>下一篇:{{data.nextActivity[0].title}}</a></li>
                </ul>
            </div>

        </div>
    <!--</div>-->
</section>

<footer id="footer">
    <footer-template></footer-template>
</footer>


<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
<script type="text/javascript" src="./libraryjs/config.js"></script>

</body>

</html>