<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="亿策数字校园">
    <meta name="description" content="亿策数字校园" />
    <title>亿策数字校园-详情</title>
    <link rel="stylesheet" href="./librarycss/base.css" />
    <link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />

</head>
<body>
<!--头部-->
<header id="header">
    <header-template></header-template>
</header>

<!--教研活动详情-->
<section id="teachingActivitiesetails" class="teachingActivitiesetails" v-if="data.currentResult">
    <div class="container">
        <div class="teachingEtailsStencil clearfix">
            <div class="topLink">
                <h1 v-cloak>教学活动 > <span v-text="data.currentResult[0].title"></span></h1>
            </div>
            <div class="etailsTitle" v-cloak v-text="data.currentResult[0].title"></div>
                <div class="etailsDate" v-cloak v-text="'更新时间：'+data.currentResult[0].addTime"></div>
                <div class="etailsContent" v-cloak v-html="data.currentResult[0].resultContent
"></div>
                <div class="etailFiles" v-cloak v-if="data.currentResult[0].fileName">附件下载  : <a :href="data.currentResult[0].downloadUrl | addRootFile" download>{{data.currentResult[0].fileName}}</a></div>
                <ul class="pagenationbox clearfix">
                    <li v-cloak v-if="data.priorResult[0].resultId"><a :href="data.priorResult[0].resultId |gotoDetail" v-cloak>上一篇:{{data.priorResult[0].title}}</a></li>
                    <li v-cloak v-if="data.nextResult[0].resultId"><a :href="data.nextResult[0].resultId |gotoDetail" v-cloak>下一篇:{{data.nextResult[0].title}}</a></li>
                </ul>
            </div>

        </div>
    <!--</div>-->
</section>

<footer id="footer">
    <footer-template></footer-template>
</footer>


<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
<script type="text/javascript" src="./libraryjs/config.js"></script>

</body>

</html>