<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="福建教育网">
    <meta name="description" content="福建教育网" />
    <title>家长课程详情—福建教育网</title>
    <link rel="shortcut icon" href="./images/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/fetv.css" />
    <link rel="stylesheet" href="./css/fetvAppend.css" />
    <link rel="stylesheet" href="./css/swiper,animate.min.css" />

</head>

<body style="background: #f4f4f4">

<header id="header">
    <header-template></header-template>
</header>

<!--&lt;!&ndash;广告&ndash;&gt;-->
<!--<div class="fecourselistad">-->
    <!--<div class="container">-->
        <!--<span><i class="uk-icon-times"></i></span>-->
    <!--</div>-->
<!--</div>-->
<!--内容模块-->
<section id="fecoursedetail">
    <div class="container">
        <!--查询栏-->
        <div class="fecoursedetailselect" style="padding-top: 0">
            <!--<div class="fetitle clearfix">-->
                <!--<span>全部课程 <i class="uk-icon-angle-right"></i></span>-->
                <!--<ul>-->
                    <!--<li class="d1"></li>-->
                    <!--<li class="d2"></li>-->
                    <!--<li class="d3"></li>-->
                    <!--<li class="d4"></li>-->
                    <!--<li class="d5"></li>-->
                <!--</ul>-->
                <!--&lt;!&ndash;<div class="feclearall" @click="clearAll()">清除全部</div>&ndash;&gt;-->
            <!--</div>-->
            <div class="femodule clearfix">
                <span>专题:</span>
                <ul class="feperio">
                    <li data-id="">不限</li>
                    <li  v-cloak v-for="item in specialArr" v-bind:data-id="item.subjectId">{{item.subjectName}}</li>
                </ul>
            </div>
            <div class="femodule clearfix">
                <span>形式:</span>
                <ul class="fegrade">
                    <li data-id="-1" class="active">不限</li>
                    <li data-id="1">直播课</li>
                    <li data-id="0">视频课</li>
                </ul>
            </div>
        </div>
        <div class="fecoursedetailnav clearfix">
            <div class="span9">
                <a href="#this" class="fesortall">综合</a>
                <a href="#this" class="fesortprice">价格 <i class="uk-icon-long-arrow-up"></i></a>
                <a href="#this" class="fesortrenqi">人气 <i class="uk-icon-long-arrow-up"></i></a>
                <label for="isWeike" >微课</label><input type="checkbox" class='fesortsmallcourse' id="isWeike"/>
                <div class="febox">
                    <span v-cloak>{{current}}</span>/
                    <span v-cloak>{{allpage}}</span>页
                    <a href="#this" class="fenextpage uk-icon-angle-left" @click="current-- && goto(current--)"></a>
                    <a href="#this" class="fenextpage uk-icon-angle-right" @click="current++ && goto(current++)"></a>
                </div>
                <a href="#this" class="fesortlist"><i class="uk-icon-bars uk-icon-small"></i></a>
                <a href="#this" class="fesortgrid"><i class="uk-icon-small uk-icon-th-large"></i></a>
            </div>
            <div class="span3">
                <div class="fesousuo">
                    <input type="text" placeholder="请输入搜索内容">
                    <button ><span></span></button>
                </div>
            </div>
        </div>
        <div class="fecoursedetailcontent-list clearfix span9" id="coursecontent">
            <div class="fenodata" v-if="courselist.length<1" style="width: 100%"></div>
            <div v-cloak v-for="item in courselist">
                <div class="fepanel clearfix" >
                    <div class="feleft">
                        <a v-bind:href="item.courseId,item.recordType,item.courseKind| addRoot" target="_blank"><img v-bind:src="item.iconPath|addRootFile" alt=""></a>
                    </div>
                    <div class="fecenter">
                        <!--<h2 :class="item.isFree==0 ? 'fehidden':''">-->
                            <!--<a v-bind:href="item.courseId,item.videoId,item.recordType|goToVideo"  target="_blank"><i></i>免费试听</a>-->
                        <!--</h2>-->
                        <h1>{{item.courseName}}
                            <!--<a v-bind:href="item.courseId,item.videoId,item.recordType|goToVideo" :class="item.isFree==0 ? 'fehidden':''" target="_blank"><i></i>免费试听</a>-->
                        </h1>
                        <p>{{item.note}}</p>
                        <h6 v-if="item.isFree=='1'"><span>免费</span></h6>
                        <h6 v-else ><span class="femoney">¥{{item.preferentialPrice}}</span><s>¥{{item.price}}</s></h6>
                        <ul class="febox">
                            <li>随到随学</li>
                            <li>有效期{{item.validDays}}天 <span>|</span></li>
                            <li class="fegreen">总<span>{{item.classHour}}</span></li>
                            <li class="fetoggle">
                                <span>老师:&nbsp;&nbsp;{{item.teacherName}}</span>
                                <span><a v-bind:href="item.organId|addSchoolRoot" target="_blank">{{item.organName}}</a></span>
                            </li>
                        </ul>
                        <div class="fegrid-teacher">
                            <span>{{item.teacherName}}</span>
                            <span><a v-bind:href="item.organId|addSchoolRoot" target="_blank">{{item.organName}}</a></span>
                        </div>
                    </div>
                    <div class="feright">
                        <a v-bind:href="item.courseId,item.recordType,item.courseKind|addRoot" target="_blank">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
        <!--右侧-->
        <div class="span3">
            <div class="fehotcoursemodule " style="background: #fff;box-shadow: 0 0 2px 1px #efefef;">
                <div class="fetitle" style="margin-top: 0">明星讲师</div>
                <ul class="starteacher">
                    <li v-cloak v-for="(item,index) in starteacher" v-if="index<3">
                        <div class="feimage">
                            <img v-bind:src="item.iconPath|addRootFile" alt="">
                        </div>
                        <div class="febox">
                            <h3>{{item.teacherName}}</h3>
                            <p>{{item.note}}</p>
                            <a v-bind:href="item.teacherId|gotoTeacher">查看详情</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="fehotcoursemodule ">
                <div class="fetitle">推荐课程</div>
                <a v-bind:href="item.courseId,item.recordType,item.courseKind|addRoot" class="febox" v-for="item in recommendedcourses" target="_blank">
                    <div class="feimage">
                        <img v-bind:src="item.iconPath|addRootFile" alt="">
                    </div>
                    <h6>{{item.title}}</h6>
                </a>
            </div>
        </div>
        <!--枫叶-->
        <div class="span9">
            <ul class="pagenationbox clearfix" style="padding: 30px 0 50px">
                <li v-show="current != 1" @click="current-- && goto(current--)">
                    <a href="#this">上一页</a>
                </li>
                <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                    <a href="#this">{{index}}</a>
                </li>
                <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                    <a href="#this">下一页</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<footer id="footer" class="clearfix">
    <footer-template></footer-template>
</footer>

<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript" src="./js/jquery.storage.js"></script>
<script type="text/javascript" src="./js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="./js/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./js/vue.min.js"></script>
<script type="text/javascript" src="./js/vue-resource.min.js"></script>
<script type="text/javascript" src="./js/distpicker.data.min.js"></script>
<script type="text/javascript" src="./js/distpicker.min.js"></script>
<script type="text/javascript" src="./js/fetv.js"></script>
<script type="text/javascript" src="./js/fetvAppend.js"></script>
<script>
    $(function () {
        parentcoursedetail(16);
    })
</script>
</body>

</html>