<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="福建教育网">
    <meta name="description" content="福建教育网" />
    <title>老师主页</title>
    <link rel="shortcut icon" href="./images/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/swiper,animate,scroll.min.css" />
    <link rel="stylesheet" href="css/fetv.css" />
    <link rel="stylesheet" href="css/fetvAppend.css" />

</head>

<body>

<header id="header">
    <header-template></header-template>
</header>

<!--内容模块-->
<section class="femasterdetail clearfix" id="femasterdetail_photo">
    <div class="container">
        <!--头部老师信息-->
        <div class="femasterdetail-head clearfix" v-cloak v-for="item in teacher">
            <div class="feimage">
                <img v-bind:src="item.iconPath|addRootFile" alt="">
            </div>
            <h1>{{item.teacherName}}</h1>
            <p>
                <span><a v-bind:href="item.organId|goToSchool" target="_blank">{{item.organName}}</a></span>
                <span>{{item.subjectName}}</span>
            </p>
            <div class="fefollow">
                <button><i class="uk-icon-plus"></i>关注</button>
                <button class="cancel">取消关注</button>
            </div>
        </div>
        <!--导航栏-->
        <div class="femasterdetail-nav ">
            <a v-bind:href="item.teacherInfoTypeId|addRootNav" v-cloak v-for="item in masterdetailnav"><span>{{item.name}}</span></a>
        </div>
        <div class="feteacherindex-photo clearfix">
            <h1><i></i>视频 <span v-cloak>（共 {{allvedionum}} 个）</span></h1>
            <div class="fenodata" v-show="vedionodata" v-cloak></div>
            <div class="fevediodetail clearfix">
                <div class="span3" v-cloak v-for="item in vedioArr">
                    <div class="fepanel">
                        <div class="feimage">
                            <img v-bind:src="item.iconPath|addRootFile" alt="">
                            <a href="#this" v-bind:data-id="item.videoId"><span>播放<b></b></span></a>
                        </div>
                        <div class="febox">
                            <h3>{{item.resourceName}}</h3>
                            <h4>{{item.publishDate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feloadmore" v-show="vedioload" v-cloak>
                <a href="#this" @click="vedioLoadMore()">查看更多</a>
            </div>
        </div>
        <div class="feteacherindex-photo active">
            <h1><i></i>照片 <span v-cloak>（共 {{allphotonum}} 个）</span></h1>
            <div class="fenodata" v-show="photonodata" v-cloak></div>
            <div class="fephotodetail clearfix">
                <div class="span3" v-cloak v-for="item in photoArr">
                    <div class="fepanel">
                        <div class="feimage">
                            <img v-bind:src="item.iconPath|addRootFile"  alt="">
                            <a href="#this">
                                <div>
                                    <!--<h6>{{item.resourceName}}</h6>-->
                                    <!--<p>{{item.note}}</p>-->
                                </div>
                            </a>
                        </div>
                        <div class="febox">
                            <h3>{{item.resourceName}}</h3>
                            <h4>{{item.publishDate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="feloadmore" v-show="photoload" v-cloak>
                <a href="#this" @click="photoLoadMore()" >查看更多</a>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <footer-template></footer-template>
</footer>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.storage.js"></script>
<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="js/layer,wow,scroll.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/vue-resource.min.js"></script>
<script type="text/javascript" src="js/fetv.js"></script>
<script type="text/javascript" src="js/fetvAppend.js"></script>
<script>
    $(function () {
        var teacherId=$(this).getUrlParam("teacherId");
        teacherindex_photo(teacherId);
    })
</script>
</body>

</html>