<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="亿策数字校园">
    <meta name="description" content="亿策数字校园" />
    <title>家长课堂</title>
    <link rel="stylesheet" href="./librarycss/base.css" />
    <link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />

</head>
<body style="background: #f4f4f4">
<header id="header">
    <header-template></header-template>
</header>
<section id="parentClassList">
    <div class="container">
        <div class="parentClassList">
            <div class="topLink">
                <h1>文化社区 > <span>家长课堂</span></h1>
            </div>
            <div class="moduleTitleWrapper">
                <span class="titleTip">Parent class </span>
                <h1 class="title">家长课堂</h1>
            </div>
            <div class="courseList clearfix">
                <div class="fenodata" v-cloak v-show="nodata"></div>
                <div class="span6" v-cloak v-for="item in parentClass">
                    <a class="courseItem" :href="item.courseId,item.videoId|goToplay" target="_blank">
                        <div class="image">
                            <img :src="item.iconPath|addRootFile" alt="">
                            <div class="mask"><span class="play-icon"></span></div>
                        </div>
                        <div class="boxRight">
                            <h1 class="courseName">{{item.courseName}}</h1>
                            <p class="intro">{{item.note}}</p>
                            <div class="bottom">
                                <div class="source">来源：{{item.teacherName}}</div>
                                <div class="time">时间：{{item.insertTime}}</div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--<div class="span6">-->
                    <!--<div class="courseItem">-->
                        <!--<div class="image">-->
                            <!--<img src="../../images/temp/course@230-150.jpg" alt="">-->
                            <!--<div class="mask"><span class="play-icon"></span></div>-->
                        <!--</div>-->
                        <!--<div class="boxRight">-->
                            <!--<h1 class="courseName">小学生家长谈育儿心得</h1>-->
                            <!--<p class="intro">讨论营销学中阿里特单定论成功性，并且组建讨论 小组，定期举行学习类活动</p>-->
                            <!--<div class="bottom">-->
                                <!--<div class="source">来源：优酷</div>-->
                                <!--<div class="time">时间：2018.03.20</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="span6">-->
                    <!--<div class="courseItem">-->
                        <!--<div class="image">-->
                            <!--<img src="../../images/temp/course@230-150.jpg" alt="">-->
                            <!--<div class="mask"><span class="play-icon"></span></div>-->
                        <!--</div>-->
                        <!--<div class="boxRight">-->
                            <!--<h1 class="courseName">小学生家长谈育儿心得</h1>-->
                            <!--<p class="intro">讨论营销学中阿里特单定论成功性，并且组建讨论 小组，定期举行学习类活动</p>-->
                            <!--<div class="bottom">-->
                                <!--<div class="source">来源：优酷</div>-->
                                <!--<div class="time">时间：2018.03.20</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="span6">-->
                    <!--<div class="courseItem">-->
                        <!--<div class="image">-->
                            <!--<img src="../../images/temp/course@230-150.jpg" alt="">-->
                            <!--<div class="mask"><span class="play-icon"></span></div>-->
                        <!--</div>-->
                        <!--<div class="boxRight">-->
                            <!--<h1 class="courseName">小学生家长谈育儿心得</h1>-->
                            <!--<p class="intro">讨论营销学中阿里特单定论成功性，并且组建讨论 小组，定期举行学习类活动</p>-->
                            <!--<div class="bottom">-->
                                <!--<div class="source">来源：优酷</div>-->
                                <!--<div class="time">时间：2018.03.20</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <ul class="pagenationbox clearfix" style="padding: 30px 0 50px">
                <li v-show="current != 1" @click="current-- && goto(current--)">
                    <a href="#this">上一页</a>
                </li>
                <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                    <a href="#this">{{index}}</a>
                </li>
                <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                    <a href="#this">下一页</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<footer id="footer">
    <footer-template></footer-template>
</footer>
<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
<script type="text/javascript" src="./libraryjs/config.js"></script>
</body>
</html>