<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="亿策数字校园">
    <meta name="description" content="亿策数字校园" />
    <title>等你来答列表页</title>
    <link rel="stylesheet" href="./librarycss/base.css" />
    <link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />

</head>
<body style="background: #f4f4f4">
<header id="header">
    <header-template></header-template>
</header>
<section id="questionList">
    <div class="container">
        <!--筛选-->
        <div class="fe-schoolteacher-head" >
            <div class="fe-schoolteacher-head-select fe-schoolteacher-head-grade" id="grade">
                <span>年级:</span>
                <a class="active" @click="clickByGrade('',$event)">不限</a>
                <a v-cloak @click="clickByGrade(item.gradeId,$event)" v-for="item in gradeArr">{{item.gradeName}}</a>
            </div>
            <div class="fe-schoolteacher-head-select" id="subject">
                <span>学科:</span>
                <a class="active"  @click="clickBySubject('',$event)">不限</a>
                <a v-cloak  v-for="item in subjectArr" @click="clickBySubject(item.subjectId,$event)">{{item.subjectName}}</a>
            </div>
        </div>
    </div>
    <div class="container clearfix" style="background: #fff;margin-top: 20px">
        <div class="topLink">
            <h1>文化社区 > <span>等你来答</span></h1>
        </div>
        <div class="span8_5">
            <div class="moduleTitleWrapper">
                <span class="titleTip">New problems </span>
                <h1 class="title">新问题</h1>
            </div>
            <div class="feknowledgequestionlist">
                <!--<div class="fetitle">-->
                    <!--新问题-->
                    <!--<div class="febox">-->
                        <!--<input type="text" placeholder="输入关键字" v-model="keyword">-->
                        <!--<button @click="keySearch"></button>-->
                    <!--</div>-->
                <!--</div>-->
                <ul class="fecontent">
                    <div class="fenodata" v-show="nodata"></div>
                    <li v-cloak v-for="item in questionList">
                        <div class="feimage">
                            <img :src="item.headIconPath|addRootFile" alt="">
                        </div>
                        <div class="fecenter">
                            <h2 v-html="item.content">
                                <img :src="i|addRootFile" alt="" v-for="i in item.iconPath">
                            </h2>
                            <p>
                                <span><i class="uk-icon-commenting-o"></i>回答({{item.num}})</span>
                                <span><i class="uk-icon-eye"></i>浏览({{item.clickCount}})</span>
                            </p>
                        </div>
                        <div class="febtn">
                            <a :href="item.KPQuestionId|addRoot" target="_blank">我要回答</a>
                        </div>
                    </li>
                    <!--<li>-->
                        <!--<div class="feimage">-->
                            <!--<img src="../../images/temp/mr-tx.png" alt="">-->
                        <!--</div>-->
                        <!--<div class="fecenter">-->
                            <!--<h2>MBA申请必读：美国MBA申请看重哪些工作经验</h2>-->
                            <!--<p>-->
                                <!--<span><i></i>回答(0)</span>-->
                                <!--<span><i></i>浏览(0)</span>-->
                            <!--</p>-->
                        <!--</div>-->
                        <!--<div class="febtn">-->
                            <!--<a>我要回答</a>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
                <ul class="pagenationbox clearfix" style="padding: 30px 0 50px">
                    <li v-show="current != 1" @click="current-- && goto(current--)">
                        <a href="#this">上一页</a>
                    </li>
                    <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                        <a href="#this">{{index}}</a>
                    </li>
                    <li v-cloak v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                        <a href="#this">下一页</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span3_5">
            <div class="rankingList">
                <h1>积分排行榜</h1>
                <ul>
                    <li v-cloak v-for="(item,index) in ranking" class="clearfix">
                        <span :style="{background:'url('+ item.iconPath +') no-repeat center'}"><b></b></span>
                        <div class="febox">
                            <h1>{{item.userName}}</h1>
                            <h3>积分数:{{item.myPoint}}</h3>
                        </div>
                        <i>{{index+1}}</i>
                    </li>
                    <!--<li>-->
                        <!--<span><b></b></span>-->
                        <!--<div class="febox">-->
                            <!--<h1>桃子先生</h1>-->
                            <!--<h3>采纳数:166</h3>-->
                        <!--</div>-->
                        <!--<i>1</i>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<span><b></b></span>-->
                        <!--<div class="febox">-->
                            <!--<h1>桃子先生</h1>-->
                            <!--<h3>采纳数:166</h3>-->
                        <!--</div>-->
                        <!--<i>2</i>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <footer-template></footer-template>
</footer>


<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
<script type="text/javascript" src="./libraryjs/config.js"></script>
</body>
</html>