<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <title>课程学习</title>

    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/uikit.min.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/Ecalendar.css" />
    <link rel="stylesheet" href="css/ycstyle.css" />
    <link rel="stylesheet" href="css/cyqstyle.css" />
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
</head>
<body style="padding: 0;">
<!--<header id="header" class="dycEiaHead">-->
    <!--<div class="container">-->
        <!--&lt;!&ndash;<a class="dycEiabomi" href="../index.html" title="首页"></a>&ndash;&gt;-->
        <!--<a class="dycEiadb" href="dbliveroom.html" title="财经叠报大讲堂"></a>-->
        <!--全国投资者在线教育领导品牌-->
    <!--</div>-->
<!--</header>-->
<div class="dycpersoncenter">
    <!-- <div class="dycimage">
        <img src="images/coursework-tx.jpg" alt="">
    </div>
   <div class="dycbox">
        <h4>XXX</h4>
        <ul class="clearfix">
            <li><i></i>状态: <span>在线</span></li>
            <li><i></i>学习时长: <span>3天10小时</span></li>
        </ul>
    </div>-->
</div>
<div class="dycpersoncenter-nav">
    <div class="container">
        <ul class="clearfix">
            <li class="active">人气推荐</li>
            <li>我的课程</li>
            <li>我的老师</li>
            <li>我的提问</li>
            <li>课程收藏</li>
            <li>联系助理</li>
        </ul>
    </div>
</div>
<section style="background: #f5f5f5;text-align: center;">
    <div class="container">
        <img src="images/coursework-1v1.png" alt="" style="margin: 30px 0 20px">
        <div class="dycpersoncenter-teacher">
            <div class="swiper-container aa">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="dycpanel">
                            <div class="dycimage">
                                <img src="images/coursework-cjb.png" alt="">
                            </div>
                            <div class="dycbox">
                                <h3>嘉宾: 陈嘉宾</h3>
                                <h5>状态: 在线</h5>
                                <p>专长：拥有较强实战操盘经验，擅长中短线策略制定，合理把资金管理和风险控制。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="dycpanel">
                            <div class="dycimage">
                                <img src="images/coursework-lcb.png" alt="">
                            </div>
                            <div class="dycbox">
                                <h3>嘉宾: 林晨斌</h3>
                                <h5>状态: 在线</h5>
                                <p>专长：擅长通过对波段、结构的分析分解，准确分析和把握行情动态。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="dycpanel">
                            <div class="dycimage">
                                <img src="images/coursework-lsw.png" alt="">
                            </div>
                            <div class="dycbox">
                                <h3>嘉宾: 吕思武</h3>
                                <h5>状态: 在线</h5>
                                <p>专长：深刻掌握各类指标的综合运用，拥有较强实战操盘经验，擅长中长线策略制定。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="dycpanel">
                            <div class="dycimage">
                                <img src="images/coursework-sm.png" alt="">
                            </div>
                            <div class="dycbox">
                                <h3>嘉宾: 申明</h3>
                                <h5>状态: 在线</h5>
                                <p>专长：以中线操作为主，短线波段为辅。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="dycpanel">
                            <div class="dycimage">
                                <img src="images/coursework-tzh.png" alt="">
                            </div>
                            <div class="dycbox">
                                <h3>嘉宾: 滕祖辉</h3>
                                <h5>状态: 在线</h5>
                                <p>专长：擅长通过应用数学的方法，注重结合分析长短周期的趋势。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="dycpanel">
                            <div class="dycimage">
                                <img src="images/coursework-wjb.png" alt="">
                            </div>
                            <div class="dycbox">
                                <h3>嘉宾: 吴嘉宾</h3>
                                <h5>状态: 在线</h5>
                                <p>专长：擅长通过技术分解方式，准确分析和把握趋势行情。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="dycpanel">
                            <div class="dycimage">
                                <img src="images/coursework-zws.png" alt="">
                            </div>
                            <div class="dycbox">
                                <h3>嘉宾: 张文松</h3>
                                <h5>状态: 在线</h5>
                                <p>专长：熟悉波浪理论，缠绕，混沌理论，并抽取其各自精华。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="dycpanel">
                            <div class="dycimage">
                                <img src="images/coursework-zzl.png" alt="">
                            </div>
                            <div class="dycbox">
                                <h3>嘉宾: 周宗榕</h3>
                                <h5>状态: 在线</h5>
                                <p>专长：以两主三起三神为主线，贯穿整个交易系统，洞悉交易市场的奥义。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="dycpanel">
                            <div class="dycimage">
                                <img src="images/coursework-zrg.png" alt="">
                            </div>
                            <div class="dycbox">
                                <h3>嘉宾: 朱仁贵</h3>
                                <h5>状态: 在线</h5>
                                <p>专长：擅长中短线交易，在技术指标和裸K深有研究，能够准确的应用布林线和裸K寻找交易机会。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="dycpanel">
                            <div class="dycimage">
                                <img src="images/coursework-zx.png" alt="">
                            </div>
                            <div class="dycbox">
                                <h3>嘉宾: 邹璇</h3>
                                <h5>状态: 在线</h5>
                                <p>专长：擅长通过行情最基本的周期K线与行情所失价格进行未来行情的分析与判断。</p>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Add Arrows -->
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<section id="dyccoursework">
    <div class="container">
        <div class="dycpersoncenter-course">
            <div class="dycpersoncenter-course-title">
                <span>初级<i>/入门课程</i></span>
                <b>more</b>
            </div>
            <div class="dycpersoncenter-course-content clearfix">
                <div class="span3" v-cloak v-for="item in primary">
                 <!--   <a class="dycpanel" v-bind:href="item.courseId,item.videoId|addVideoRoute" data-id="item.videoId">-->
                 	 <a class="dycpanel" >
                        <div class="dycimage" v-bind:data-id="item.videoId">
                            <img v-bind:src="item.iconPath|addRoute" alt="">
                        </div>
                        <div class="dycbox">
                            <h2>{{item.name}}</h2>
                            <!--<h4>朱仁贵<span>￥888.00</span></h4>-->
                            <h4>{{item.teacherName}}<span v-bind:id="item.serviceId">联系助理</span></h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="dycpersoncenter-course">
            <div class="dycpersoncenter-course-title">
                <span>中级<i>/进阶课程</i></span>
                <b>more</b>
            </div>
            <div class="dycpersoncenter-course-content clearfix">
                <div class="span3" v-cloak v-for="item in middle">
                  <!--  <a class="dycpanel" v-bind:href="item.courseId,item.videoId|addVideoRoute" data-id="item.videoId">-->
                  	 <a class="dycpanel">
                        <div class="dycimage" v-bind:data-id="item.videoId">
                            <img v-bind:src="item.iconPath|addRoute"  alt="">
                        </div>
                        <div class="dycbox">
                            <h2>{{item.name}}</h2>
                            <!--<h4>朱仁贵<span>￥888.00</span></h4>-->
                            <h4>{{item.teacherName}}<span v-bind:id="item.serviceId">联系助理</span></h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="dycpersoncenter-course">
            <div class="dycpersoncenter-course-title">
                <span>高级<i>/冲刺课程</i></span>
                <b>more</b>
            </div>
            <div class="dycpersoncenter-course-content clearfix">
                <div class="span3" v-cloak v-for="item in senior">
                   <!-- <a class="dycpanel" v-bind:href="item.courseId,item.videoId|addVideoRoute">-->
                   	 <a class="dycpanel">
                        <div class="dycimage" v-bind:data-id="item.videoId">
                            <img v-bind:src="item.iconPath|addRoute"  alt="">
                        </div>
                        <div class="dycbox">
                            <h2>{{item.name}}</h2>
                            <!--<h4>朱仁贵<span>￥888.00</span></h4>-->
                            <h4>{{item.teacherName}}<span v-bind:id="item.serviceId">联系助理</span></h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/uikit.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/vue-resource.min.js"></script>
<script type="text/javascript" src="js/layer.js"></script>
<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/ycswiper.js"></script>
<script type="text/javascript" src="js/ycedu.js"></script>
<script type="text/javascript" src="js/teacherswiper.js"></script>
<script>
    $(function() {
        /*if(!judgeStatuHref()) { //未登入时跳转
            window.location.href = "../login.html";
            return false;
        }*/
        //判断登入状态跳转
        /*function judgeStatuHref() {
            if($mid != null && $mid != undefined && $mid != "") {
                return true;
            }
            return false;
        }*/
        var swiper = new Swiper('.aa', {
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            slidesPerView: 5,
            spaceBetween: 10
        });
       
       
        coursework();
       
        
        $('.dycpersoncenter-course-content').on('click','.dycimage',function () {
        
            var vid=$(this).data('id');
            layer.open({
                type: 2,
//                title: '播米往前公开课',
                //closeBtn: 0, //不显示关闭按钮
                shadeClose: true,
                shade: [0.5, '#000'],
                area: ['800px', '500px'],
                //offset: 'rb', //右下角弹出
                //time: 2000, //2秒后自动关闭
                anim: 2,
                content: 'backcourseworkplayer.html?courseId=' + '&videoId=' + vid
            });
        });
    })
</script>
</body>
</html>