<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="金融在线教育,金融培训,股票培训,股票知识,股票入门,股票学习,股票怎么玩,股票投资,外汇投资,大宗投资,贵金属投资,证券从业考试,投资理财,金融课程">
    <meta name="description" content="播米在线教育，国内在线金融教育领导者。播米在线立足互联网金融教育领域，以普及金融知识，提供金融教育为己任，致力于为学员提供专业、系统的教学服务。不限地域时间，在家就能上课。首节课0元试听！免费咨询热线：400-6430-618。" />
    <title>嘉宾-相册/视频</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/uikit.min.css" />
    <link rel="stylesheet" href="css/swiper.min.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/ycstyle.css" />
    <link rel="stylesheet" href="css/cyqstyle.css" />
    <link rel="stylesheet" href="css/hwzstyle.css" />
    <link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/1.7.2/skins/default/index.css" />
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
</head>
<body>
<header id="header">
    <header-template></header-template>
</header>
<section class="" id="guest">
    <div class="dycguestcommonhead">
        <div class="dycimage" v-cloak>
            <img v-bind:src="teachermsg.iconPath|addRoute" alt="">
        </div>
        <div class="dycbox">
            <h3 v-cloak>{{teachermsg.name}}</h3>
            <h4 v-cloak>{{teachermsg.teacherTypeName}}</h4>
        </div>
    </div>
    <!--<div v-html="banner.iconPath" class="guestbanner"></div>-->
    <!--<img src="images/distinguishedguest.jpg" alt="">-->
    <!--<div class="container dycdistinguishedguest">-->
        <!--<div class="dycpastreview">-->
            <!--<div class="swiper-container aa">-->
                <!--<div class="swiper-wrapper">-->
                    <!--<div class="swiper-slide" v-cloak v-for="item in specialArr">-->
                        <!--<a v-bind:href="item.courseId|addCourseRoute" class="febox">-->
                            <!--<img v-bind:src="item.iconPath|addRoute" alt="">-->
                            <!--<p><span>{{item.name}}</span></p>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; Add Arrows &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="swiper-button-next"></div>-->
            <!--<div class="swiper-button-prev"></div>-->
        <!--</div>-->
    <!--</div>-->
</section>
<section class="clearfix dycgray-bg" id="guestphoto">
    <div class="container">
        <ul class="dycdistinguishedguest-title clearfix">
            <li><a v-bind:href="teacherId|addindexRoute">嘉宾主页</a><b></b></li>
            <li><a v-bind:href="teacherId|addcourseRoute">课程</a><b></b></li>
            <li class="active"><a href="#this">相册/视频</a><b></b></li>
            <li><a v-bind:href="teacherId|addpersonRoute">履历</a><b></b></li>
        </ul>
        <div class="span9">
            <div class="dycdistinguishedguest-index dycborder">
                <div class="dycdistinguishedguest-photo-nav">
                    <span class="active" data-id="all">全部</span>
                    <span data-id="photo">相册</span>
                    <span data-id="video">视频</span>
                </div>
                <div class="dycnodata" v-show="nodata"></div>
                <ul class="dycdistinguishedguest-photo-content clearfix">
                    <!--<li class="dycmonth">09月</li>-->
                    <!--<li>-->
                        <!--<div class="dycimg dycvideo" data-id="642c760bbd55494ebca164de6ccf59d9">-->
                            <!--<img src="images/guest-photo-1.jpg" alt="">-->
                            <!--<b><i></i></b>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="dycimg">-->
                            <!--<img src="images/guest-photo-1.jpg" alt="">-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="dycimg">-->
                            <!--<img src="images/guest-photo-1.jpg" alt="">-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="dycimg">-->
                            <!--<img src="images/guest-photo-1.jpg" alt="">-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<div class="dycimg">-->
                            <!--<img src="images/guest-photo-1.jpg" alt="">-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="dycmonth">08月</li>-->
                    <!--<li>-->
                        <!--<div class="dycimg">-->
                            <!--<img src="images/guest-photo-1.jpg" alt="">-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
                <div class="dycloadmore" v-show="load"><span @click="loadmore()">查看更多 <i class="uk-icon-angle-down"></i></span></div>
            </div>
        </div>
        <div class="span3">
            <a v-bind:href="item.newsTypeId,item.teacherId|addExpertRoute" class="dycviewpoint-content" v-cloak v-for="item in expertopinion">
                <div class="dyctitle"><span>策略解读</span></div>
                <div class="dycimg">
                    <img v-bind:src="item.iconPath|addRoute" alt="">
                </div>
                <p><span>{{item.name}}</span></p>
                <p>{{item.note}}</p>
            </a>
        </div>
    </div>
</section>
<footer id="footer">
    <footer-template></footer-template>
</footer>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/uikit.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/vue-resource.min.js"></script>
<script type="text/javascript" src="js/layer.js"></script>
<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="js/wow.min.js"></script>
<script type="text/javascript" src="js/template.js"></script>
<script type="text/javascript" src="js/ycswiper.js"></script>
<script type="text/javascript" src="js/ycedu.js"></script>
<script type="text/javascript" src="js/player.js"></script>
<script type="text/javascript" src="js/teacherswiper.js"></script>
<script type="text/javascript" src="js/honoredguest.js?01"></script>
<script type="text/javascript" src="http://g.alicdn.com/de/prismplayer/1.7.6/prism-min.js"></script>

<script>
    $(function () {
        var teacherId=$(this).getUrlParam("teacherId");
        guesthead(teacherId);
        guestphoto(teacherId);
    })
</script>
</body>
</html>