<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit">
		<!--	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
		<meta name="format-detection" content="telephone=yes">
		<title>新手空间</title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/uikit.min.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<link rel="stylesheet" href="css/animate.min.css" />
		<link rel="stylesheet" href="css/Ecalendar.css" />
		<link rel="stylesheet" href="css/ycstyle.css" />
		<link rel="stylesheet" href="css/cyqstyle.css" />
		<link rel="stylesheet" href="css/hwzstyle.css" />
		<script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
	</head>

	<body style="padding: 0;">
		<div id="jnewZone">
			<img src="images/newzone-top.jpg" alt="" width="100%">
			<div class="dycassistant-title" style="background: #f5f5f5">
				<img src="images/newzone-1.png" alt="">
				<div class="container">
					<div class="dycgoldassistant">
						<div class="swiper-container aa">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a class="dycpanel">
										<img src="images/assistant-people-1.png" alt="">
										<div class="dycbox">
											<h4>小袁助理</h4>
											<p>对K线形态深有研究，并且能熟练的运用到行情分析中，专业耐心的服务为客户解决各种投资上的问题。</p>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a class="dycpanel">
										<img src="images/assistant-people-2.png" alt="">
										<div class="dycbox">
											<h4>李助理</h4>
											<p>金融行业从事经验丰富，拥有扎实的实战操作经验，擅长将各位嘉宾的战法应用到行情市场中。</p>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a class="dycpanel">
										<img src="images/assistant-people-3.png" alt="">
										<div class="dycbox">
											<h4>小李助理</h4>
											<p>从事金融行业多年，拥有证券、期货、从业资格证，可以熟练运用各位老师的交易战法。</p>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a class="dycpanel">
										<img src="images/assistant-people-4.png" alt="">
										<div class="dycbox">
											<h4>蔡助理</h4>
											<p>多年实战操盘指导经验，熟悉各大经济事件与数据，具有扎实的基本面分析。</p>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a class="dycpanel">
										<img src="images/assistant-people-5.png" alt="">
										<div class="dycbox">
											<h4>文静助理</h4>
											<p>不仅在宏观经济和地缘政治上有独特的见解，盘面分析能力也是格外出众。</p>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a class="dycpanel">
										<img src="images/assistant-people-6.png" alt="">
										<div class="dycbox">
											<h4>邓助理</h4>
											<p>工作上扎实的专业功底、耐心的态度，多年以来指导服务客户满意也是极高的。</p>
										</div>
									</a>
								</div>
								<div class="swiper-slide">
									<a class="dycpanel">
										<img src="images/assistant-people-8.png" alt="">
										<div class="dycbox">
											<h4>小苏助理</h4>
											<p>擅长运用各位老师的交易战法，对各位分析师的布局以及中长线把握娴熟，对操作心态上也是特别有研究。</p>
										</div>
									</a>
								</div>
								<!--<div class="swiper-slide">
									<a class="dycpanel">
										<img src="images/assistant-people-7.png" alt="">
										<div class="dycbox">
											<h4>娇娇助理</h4>
											<p>至今为止有三年的金融现货，汇市实盘操作指导经验，指导客户人数约900多人。</p>
										</div>
									</a>
								</div>-->
							</div>
							<!-- Add Arrows -->
						</div>
						<div class="swiper-button-next aa1"></div>
						<div class="swiper-button-prev aa2"></div>
					</div>
				</div>
			</div>
			<!--基础指标认知-->
			<div class="dycnewzone">
				<div class="container">
					<img src="images/newzone-2.png" alt="">
					<div class="dycnewzone-content">
						<div class="span4" v-cloak v-for="item in indexCognition">
							<div class="dycpanel">
								<div class="dycimage dyconeVideo" v-bind:data-id="item.video[0].videoId" v-if="item.videoLength=='1'">
									<img v-bind:src="item.iconPath|addRoute" alt="">
									<b><i></i></b>
								</div>
								<div class="dycimage" v-else>
									<!--判断有几个视频-->
									<img v-bind:src="item.iconPath|addRoute" alt="">
									<b><i></i></b>
									<div class="dycnewzone-list">
										<template v-for="(children,index) in item.video">
											<a v-bind:data-id="children.videoId">课时{{(index+1)}}</a>
										</template>
									</div>
								</div>
								<div class="dycbox">
									<div class="clearfix">
										<div class="dycassistan span3">
											<img v-bind:src="item.assistantPhoto|addRoute" alt="" />
										</div>
										<div class="span9">
											<h4>{{item.name}}</h4>
											<h6>{{item.note}}</h6>
										</div>
									</div>
									<p>
										<button v-bind:id="item.serviceId">联系助理</button>
										<button>收藏视频</button>
									</p>
								</div>
							</div>
						</div>
						<p>
							<a href="#this" id="jopenQQ2">更多视频>></a>
						</p>
					</div>
				</div>
			</div>
			<!--基础数据学习-->
			<div class="dycnewzone">
				<div class="container">
					<img src="images/newzone-3.png" alt="">
					<div class="dycnewzone-content">
						<div class="span4" v-cloak v-for="item in dateLearn">
							<div class="dycpanel">
								<div class="dycimage dyconeVideo" v-bind:data-id="item.video[0].videoId" v-if="item.videoLength=='1'">
									<img v-bind:src="item.iconPath|addRoute" alt="">
									<b><i></i></b>
								</div>
								<div class="dycimage" v-else>
									<!--判断有几个视频-->
									<img v-bind:src="item.iconPath|addRoute" alt="">
									<b><i></i></b>
									<div class="dycnewzone-list">
										<template v-for="(children,index) in item.video">
											<a v-bind:data-id="children.videoId">课时{{(index+1)}}</a>
										</template>
									</div>
								</div>
								<div class="dycbox">
									<div class="clearfix">
										<div class="dycassistan span3">
											<img v-bind:src="item.assistantPhoto|addRoute" alt="" />
										</div>
										<div class="span9">
											<h4>{{item.name}}</h4>
											<h6>{{item.note}}</h6>
										</div>
									</div>
									<p>
										<button v-bind:id="item.serviceId">联系助理</button>
										<button>收藏视频</button>
									</p>
								</div>
							</div>
						</div>
						<p>
							<a href="#this" id="jopenQQ">更多视频>></a>
						</p>
					</div>
				</div>
			</div>
			<!--MT4软件操作教程-->
			<div class="dycmt4sp">
				<div class="container">
					<img src="images/newzone-4.png" alt="">
					<div class="dycmt4sp-content clearfix">
						<template v-for="item in metaRrader">
							<div class="span7">
								<div class="dycimage">
									<img v-bind:src="item.iconPath|addRoute" alt="">
									<b><i></i></b>
									<div class="dycnewzone-list">
										<template v-for="(children,index) in item.video">
											<a v-bind:data-id="children.videoId">课时{{(index+1)}}</a>
										</template>
									</div>
								</div>
							</div>
							<div class="span5">
								<ul>
									<li>全面风险控制100%止损</li>
									<li>最高速执行力使用范围广</li>
									<li>强大图标绘制分析数据专业</li>
									<li>支持多国语言全球化</li>
									<li>多重安全保障国际认可技术</li>
								</ul>
							</div>
						</template>

					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/uikit.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/vue-resource.min.js"></script>
		<script type="text/javascript" src="js/layer.js"></script>
		<script type="text/javascript" src="js/swiper.jquery.min.js"></script>
		<script type="text/javascript" src="js/wow.min.js"></script>
		<script type="text/javascript" src="js/ycswiper.js"></script>
		<script type="text/javascript" src="js/ycedu.js"></script>
		<script type="text/javascript" src="js/teacherswiper.js"></script>
		<script language="javascript" src="http://swtcjdb.yicefin.com:88/JS/LsJS.aspx?siteid=MDE20006443&amp;float=0&amp;lng=cn"></script>
		<script>
			$(function() {

				newZone(); //新手空间数据

				var swiper1 = new Swiper('.aa', {
					nextButton: '.aa1',
					prevButton: '.aa2',
					slidesPerView: 6,
					spaceBetween: 0
				});

				$("#jopenQQ").on("click", function() {
					BizQQWPA.addCustom({
						aty: '0',
						a: '1005',
						nameAccount: 800185768,
						selector: "jopenQQ"
					});
				});
				$("#jopenQQ2").on("click", function() {
					BizQQWPA.addCustom({
						aty: '0',
						a: '1005',
						nameAccount: 800185768,
						selector: "jopenQQ2"
					});
				})

								$('.dycnewzone-content').on('click', '.dyconeVideo', function() {
									var vid = $(this).data('id');
									layer.open({
										type: 2,
										//title: '播米往前公开课',
									//closeBtn: 0, //不显示关闭按钮
										shadeClose: true,
										shade: [0.5, '#000'],
										area: ['800px', '500px'],
										//offset: 'rb', //右下角弹出
										//time: 2000, //2秒后自动关闭
										anim: 2,
										content: 'backcourseplayer.html?courseId=' + '&videoId=' + vid
									});
							});
								$('.dycnewzone-content').on('click', 'a', function() {
									var vid = $(this).data('id');
									layer.open({
										type: 2,
										//title: '播米往前公开课',
										//closeBtn: 0, //不显示关闭按钮
										shadeClose: true,
									shade: [0.5, '#000'],
										area: ['800px', '500px'],
										//offset: 'rb', //右下角弹出
										//time: 2000, //2秒后自动关闭
										anim: 2,
										content: 'backcourseplayer.html?courseId=' + '&videoId=' + vid
									});
								});
				$('.dycmt4sp-content ').on('click', 'a', function() {
					var vid = $(this).data('id');
					layer.open({
						type: 2,
						//title: '播米往前公开课',
						//closeBtn: 0, //不显示关闭按钮
						shadeClose: true,
						shade: [0.5, '#000'],
						area: ['800px', '500px'],
						//offset: 'rb', //右下角弹出
						//time: 2000, //2秒后自动关闭
						anim: 2,
						content: 'backcourseplayer.html?courseId=' + '&videoId=' + vid
					});
				});

			})
		</script>
	</body>

</html>