<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=yes">
		<meta name="Keywords" content="金融在线教育,金融培训,股票培训,股票知识,股票入门,股票学习,股票怎么玩,股票投资,汇市投资,大宗投资,贵金属投资,证券从业考试,投资理财,金融课程">
		<meta name="description" content="播米在线教育，国内在线金融教育领导者。播米在线立足互联网金融教育领域，以普及金融知识，提供金融教育为己任，致力于为学员提供专业、系统的教学服务。不限地域时间，在家就能上课。首节课0元试听！免费咨询热线：400-6430-618。" />
		<title>播米在线教育-全国金融教育领跑者/每个人都是潜力股</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="ycedu/css/base.css" />
		<link rel="stylesheet" href="ycedu/css/swiper,animate,scroll.min.css" />
		<link rel="stylesheet" href="ycedu/css/ycstyle.css" />
		<link rel="stylesheet" href="ycedu/css/cyqstyle.css" />
		<link rel="stylesheet" href="ycedu/css/bomi.css" />
		<script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
	</head>

	<body>
		<header id="header">
			<header-template></header-template>
		</header>

		<!--首页banner-->
		<div class="bmindexBannerModel" id="jindexBannerApp">
			<div class="container full">
				<div class="swiper-container bmindexSwiperWrap">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="item in indexBannerArr">
							<a :href="item.href" :style="{backgroundImage: 'url(' + item.iconPath + ')'}"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--谍报直播模块-->
		<section class="bmindexLiveChatModel">
			<div class="container">
				<div class="bmindexLiveChatInner">
					<div class="bmindexLiveChatLeft">
						<div class="bmindexLiveChatLeftTop">
							<div class="bmindexLiveChatLeftAd">
								<a href="#this">
									<img src="ycedu/images/index/adbanner.jpg" />
								</a>
							</div>
							<div class="bmindexLiveChatLeftLive">

							</div>
						</div>
						<div class="bmindexLiveChatLeftBottom">
							<div class="bmTime"></div>
							<div class="bmlivePlayList">

							</div>
						</div>
					</div>
					<div class="bmindexLiveChatRight">

					</div>
				</div>
			</div>
		</section>

		<!--市场数据-->
		<section class="bmmarketDataModel">
			<div class="container">
				<div class="bmmarketDataInner">
					<div class="bmmarketDataLeftBox">
						<iframe src="https://www.jin10.com/" width="100%" height="1288" frameborder="0" scrolling="auto" id="bmmarketIframe"></iframe>
					</div>
					<div class="bmmarketDataRightBox">
						<div class="bmindexTitleBoxWrap">
							<h5 class="active">每日新鲜快讯</h5>
						</div>
						<div class="bmdayNews">
							<a href="./ycedu/encyclopediadetail.html?ecId=1252" target="_blank" class="bmindexEncyclopediaLi">
								<div class="bmimageBox"><img src="http://www.bomizx.net/bmonline/uploads/images/5e9d4ac8cd655ddf966d48e9739f8a1c.png"></div>
								<div class="bmindexEncyclopediaInf">
									<h5>2017.10.20每日新鲜快讯</h5></div>
							</a>
						</div>
						<div class="bmdayNews">
							<a href="./ycedu/encyclopediadetail.html?ecId=1252" target="_blank" class="bmindexEncyclopediaLi">
								<div class="bmimageBox"><img src="http://www.bomizx.net/bmonline/uploads/images/5e9d4ac8cd655ddf966d48e9739f8a1c.png"></div>
								<div class="bmindexEncyclopediaInf">
									<h5>2017.10.20每日新鲜快讯</h5></div>
							</a>
						</div>
						
						<p class="bmgotonews">
							<a target="_blank" href="./ycedu/encyclopedialist.html?courseTypeId=18">更多快讯>></a>
						</p>
					</div>
				</div>
			</div>
		</section>

		<!--金融课堂和百科-->
		<section class="bmindexCourseModel">
			<div class="container">
				<!--<div class="bmindexTitleBox">
					<h5><span>金融</span>课堂</h5>
					<p>Financial</p>
					<a class="bmAddMore" href="courselist.html">更多&gt;&gt;</a>
				</div>-->

				<div class="bmindexTitleBoxWrap">
					<h5 data-id="1" class="jbmtitle active">金融课堂</h5>
					<h5 data-id="2" class="jbmtitle">播米百科</h5>
					<a id="jbmAddMore" class="bmAddMore" href="courselist.html">更多&gt;&gt;</a>
				</div>

				<div class="swiper-container bmindex-swiper-course">
					<div class="swiper-wrapper" id="jbmindexCourseApp"></div>
				</div>
				<div class="swiper-button-prev swiper-button-course-prev"></div>
				<div class="swiper-button-next swiper-button-course-next"></div>
			</div>
		</section>

		<section class="bmteacherModel">
			<div class="container">
				<div class="swiper-container bmindex-swiper-teacher">
					<div class="swiper-wrapper" id="jbmindexTeacherApp"></div>
				</div>
				<div class="swiper-button-prev swiper-button-teacher-prev"></div>
				<div class="swiper-button-next swiper-button-teacher-next"></div>
			</div>
		</section>

		<section class="bmopenClassViewModel" id="jopenClassViewApp">
			<div class="container">
				<div class="bmindexTitleBoxWrap">
					<h5 class="active">策略解读</h5>
					<a id="jbmAddMore" class="bmAddMore" href="./ycedu/strategy.html">更多&gt;&gt;</a>
				</div>

				<div class="bmopenClassViewContent clearfix">
					<div class="span8 col-sm-12">
						<a :href="viewHref" class="bmopenClassViewImg">
							<img v-bind:src="viewImg" />
						</a>
					</div>
					<div class="span4 col-sm-12">
						<ul class="bmopenClassNewsLi">
							<li v-for="item in viewArr">
								<a :href="'ycedu/strategynewsdetail.html?newsId='+item.newsId +'&newsTypeId='+item.newsTypeId">
									{{item.title}}
								</a>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</section>

		<footer id="footer">
			<footer-template></footer-template>
		</footer>

	</body>

	<script type="text/javascript" src="ycedu/js/jquery.min.js"></script>
	<script type="text/javascript" src="ycedu/js/vue.min.js"></script>
	<script type="text/javascript" src="ycedu/js/vue-resource.min.js"></script>
	<script type="text/javascript" src="ycedu/js/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="ycedu/js/layer,wow,scroll.js"></script>
	<script type="text/javascript" src="ycedu/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="http://cdn.aodianyun.com/lss/aodianplay/player.js"></script>
	<script type="text/javascript" src="ycedu/js/template.js"></script>
	<script type="text/javascript" src="ycedu/js/ycswiper.js"></script>
	<script type="text/javascript" src="ycedu/js/ycedu.js"></script>
	<script type="text/javascript" src="ycedu/js/teacherswiper.js"></script>
	<!--<script type="text/javascript" src="ycedu/js/bomi.js"></script>-->

	<!--推广使用：推广时请屏蔽页面加载的adFunc()-->
	<script src="http://swtbdother.yicefin.com/include/js/swt_bomi.js"></script>
	<!--<div id="jCount" style="display: none;">
			<script src="https://s13.cnzz.com/z_stat.php?id=1264479447&web_id=1264479447" language="JavaScript"></script>
			<script src="https://s13.cnzz.com/z_stat.php?id=1263908207&web_id=1263908207" language="JavaScript"></script>
		</div>-->

	<script>
		//		$(function() {
		//			//是否开启广告
		//			adFunc();
		//
		//			var code = $(this).getUrlParam("code");
		//			if(code != undefined) {
		//				$.getwxUserInfo(code);
		//			}
		//
		//			indexData();
		//			indexCourse(); //金融课堂
		//
		//		})

		$(function() {
			function indexPage() {
				new Vue({
					el: '#jindexBannerApp',
					data: {
						indexBannerArr: []
					},
					mounted: function() { //1.0ready --> 2.0
						this.$nextTick(function() {
							this.loadData();
						})
					},
					filters: {
						addRoute: function(value) {
							return ROUTEFILE + value;
						}
					},
					methods: {
						loadData: function() {
							var _this = this;
							//获取频道
							this.$http.post(ROUTE + "Banner.ashx?action=getBanner&bannerType=homepage", {

							}, {
								emulateJSON: true
							}).then(function(res) {
								_this.indexBannerArr = res.body;
								_this.indexBannerArr.forEach(function(item, index) {
									Vue.set(item, "iconPath", ROUTEFILE + item.iconPath); //注册变量
								})
							}).then(function() {
								_this.indexBannerSwiper();
							});
						},
						indexBannerSwiper: function() {
							var mySwiper = new Swiper('.bmindexSwiperWrap', {
								//direction: 'vertical',
								//slidesPerView: 2,
								autoplay: 3000,
								loop: true
							})
						}
					}
				});

				//首页金融课堂
				function indexCourse(type, url, data) {
					var htmlStr = "";
					$.ajax({
						type: "get",
						url: ROUTE + url,
						dataType: "json",
						data: data,
						success: function(result) {
							var dataObj = result.rows;
							dataObj.forEach(function(item, index) {
								if(type == 1 || type == "1") {
									if(index % 2 == 0) {
										htmlStr += '<div class="swiper-slide">';
									}
									htmlStr += '<div class="bmindexCourseLi">' +
										'<a class="bmindexCourseImg" href="ycedu/coursedetail.html?courseId=' + item.courseId + '" target="_blank">' +
										'<img src="' + ROUTEFILE + item.iconPath + '" alt="course" /></a>' +
										'<div class="bmindexCourseInf">' +
										'<h5>' + item.name + '</h5><p>' +
										'<a href="ycedu/guestindex.html?teacherId="' + item.teacherId + ' target="_blank">' + item.teacherName + '</a> <span>' + item.preferentialPrice + '</span></p></div></div>';

									if((index + 1) % 2 == 0) {
										htmlStr += '</div>';
									}
								} else if(type == 2) {
									if(index % 2 == 0) {
										htmlStr += '<div class="swiper-slide">';
									}
									htmlStr += '<div class="bmindexCourseLi">' +
										'<a class="bmindexCourseImg" href="ycedu/encyclopediadetail.html?ecId=' + item.courseId + '" target="_blank">' +
										'<img src="' + ROUTEFILE + item.iconPath + '" alt="course" /></a>' +
										'<div class="bmindexCourseInf">' +
										'<h5>' + item.name + '</h5>' +
										'</div></div>';

									if((index + 1) % 2 == 0) {
										htmlStr += '</div>';
									}
								}
							})

							$("#jbmindexCourseApp").html(htmlStr);
							indexCourseSwiper();
						},
						error: function(err) {
							console.log(err);
						}
					});
				}

				/*
				 * 首页金融课堂
				 */
				function indexCourseSwiper() {
					var courseSwiper = new Swiper('.bmindex-swiper-course', {
						slidesPerView: 4, //'auto'
						spaceBetween: 20,
						loop: true,
						nextButton: '.swiper-button-course-next',
						prevButton: '.swiper-button-course-prev',
						breakpoints: {
							1024: {
								slidesPerView: 4,
								spaceBetween: 20
							},
							960: {
								slidesPerView: 3,
								spaceBetween: 15
							},
							640: {
								slidesPerView: 2,
								spaceBetween: 10
							}
						}
					})
				}

				$(".jbmtitle").on("click", function() {
					var dataid = $(this).attr("data-id");
					if($(this).hasClass("active")) {
						return false;
					} else {
						$(".jbmtitle").removeClass("active");
						$(this).addClass("active");
					}

					if(dataid == 1 || dataid == "1") {
						indexCourse(1, "Course.ashx?action=getCourseByType", {
							courseTypeId: '',
							pageIndex: 1,
							pageSize: 16,
							orderName: 'price',
							ascType: "asc"
						});
						$("#jbmAddMore").attr("href", "courselist.html");
					} else if(dataid == 2 || dataid == "2") {
						indexCourse(2, "Course.ashx?action=getFinancialKnowledge", {
							type: 'uptodate',
							pageIndex: 1,
							pageSize: 16,
							courseTypeId: 15
						});
						$("#jbmAddMore").attr("href", "./ycedu/encyclopedialist.html");
					}

				})

				indexCourse(1, "Course.ashx?action=getCourseByType", {
					courseTypeId: '',
					pageIndex: 1,
					pageSize: 16,
					orderName: 'price',
					ascType: "asc"
				});
				//indexCourse(2, "Course.ashx?action=getFinancialKnowledge",{type: 'uptodate',pageIndex: 1,pageSize: 16,courseTypeId: 15});

				new Vue({
					el: '#jopenClassViewApp',
					data: {
						viewArr: [],
						viewImg: '',
						viewHref: ''
					},
					mounted: function() { //1.0ready --> 2.0
						this.$nextTick(function() {
							this.loadData();
						})
					},
					methods: {
						loadData: function() {
							var _this = this;
							this.$http.post(ROUTE + "Banner.ashx?action=getBanner", {
								bannerType: 'opinion'
							}, {
								emulateJSON: true
							}).then(function(res) {
								if(res.body[0] == undefined || res.body[0] == "undefined") {
									return false;
								}
								_this.viewImg = ROUTEFILE + res.body[0].iconPath;
								_this.viewHref = res.body[0].href;
							});

							this.$http.post(ROUTE + "News.ashx?action=getUpToDateNews", {
								pageIndex: 0,
								pageSize: 7
							}, {
								emulateJSON: true
							}).then(function(res) {
								_this.viewArr = res.body.rows;
							});
						}
					}
				});

				//老师
				function indexTeacherSwiper() {
					var courseSwiper = new Swiper('.bmindex-swiper-teacher', {
						//						slidesPerView: 4, //'auto'
						//						spaceBetween: 20,
						//autoplay: 3000,
						loop: true,
						nextButton: '.swiper-button-teacher-next',
						prevButton: '.swiper-button-teacher-prev'
					})
				}

				//获取老师信息
				function getTeacherInf() {
					var htmlStr = "";
					$.ajax({
						type: "get",
						url: ROUTE + "HomePage.ashx?action=getTeacherCourse",
						dataType: "json",
						data: {},
						success: function(result) {
							result.forEach(function(item, index) {
								htmlStr += '<div class="swiper-slide">' +
									'<div class="bmleft">' +
									'<div class="bmimagebox">' +
									'<a href="ycedu/guestindex.html?teacherId="' + item.teacherInfo[0].teacherId + '>' +
									'<img src="' + ROUTEFILE + item.teacherInfo[0].homeIcon + '" />' +
									'</a></div>' +
									'<div class="bmcourseList">';

								item.courseInfo.forEach(function(subItem, subIndex) {
									htmlStr += '<div class="span4">' +
										'<a href="ycedu/coursedetail.html?courseId="' + subItem.courseId + ' class="bmcourseBox">' +
										'<div class="bmimage">' +
										'<img src="' + ROUTEFILE + subItem.iconPath + '" />' +
										'</div><p class="bmcourseName">' + subItem.name + '</p>' +
										'</a></div>';
								});

								htmlStr += '</div></div>' +
									'<div class="bmright">' +
									'<a href="ycedu/guestindex.html?teacherId="' + item.teacherInfo[0].teacherId + ' class="bmteacherbox">' +
									'<img src="' + ROUTEFILE + item.teacherInfo[0].photo + '" />' +
									'</a></div></div>';
							});
							$("#jbmindexTeacherApp").html(htmlStr);
							indexTeacherSwiper();
						},
						error: function(err) {
							console.log(err);
						}
					});
				}

				getTeacherInf();

			}

			indexPage();

		})
	</script>

</html>