.fenodata {
  /*width: 100%!important;*/
  height: 260px;
  background: url("../images/temp/nodata.png") no-repeat center #fff;
  background-size: contain;
}
/*分页样式*/
.pagenationbox {
  padding-left: 0;
  padding: 50px 0;
  text-align: center;
}
.pagenationbox li {
  display: inline-block;
  margin: 0 5px;
}
.pagenationbox li a {
  padding: .5rem 1rem;
  display: inline-block;
  border: 1px solid #ddd;
  background: #fff;
  color: #ff6c00;
}
.pagenationbox li a:hover {
  background: #eee;
}
.pagenationbox li.active a {
  background: #ff6c00;
  color: #fff;
}
.moduleTitleWrapper {
  position: relative;
  padding-left: 26px;
}
.moduleTitleWrapper:before {
  display: table;
  content: '';
  position: absolute;
  width: 5px;
  height: 40px;
  left: 0;
  bottom: 0;
  background: #ff8d39;
}
.moduleTitleWrapper .titleTip {
  display: block;
  font-size: 16px;
  color: #bebebe;
  line-height: 1;
  padding: 16px 0 9px;
}
.moduleTitleWrapper .title {
  font-size: 30px;
  color: #111111;
  line-height: 1;
  font-weight: bold;
}
.moduleTitleWrapper .title .count {
  font-size: 16px;
  color: #333333;
}
.moduleTitleWrapper .title .more {
  float: right;
  color: #bebebe;
  font-size: 14px;
  font-weight: normal;
  margin-top: 12px;
}
.moduleTitleWrapper .title .more:hover {
  color: #ff8d39;
  cursor: pointer;
}
.moduleTitleWrapper .subject {
  display: inline-block;
  padding-left: 12px;
}
.moduleTitleWrapper .subject a {
  display: inline-block;
  padding: 3px 8px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: normal;
  color: #333;
}
.moduleTitleWrapper .subject a.active,
.moduleTitleWrapper .subject a:hover {
  color: #fff;
  background-color: #ff8d39;
}
.topLink {
  margin: 0 26px;
  padding-top: 20px;
}
.topLink h1 {
  border-bottom: 1px solid #f4f4f4;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 5px;
}
.topLink h1 span {
  color: #bebebe;
  font-weight: 500;
}
.teacherQzone {
  margin-top: 20px;
}
.teacherQzone .teacherQzoneHead {
  width: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  height: 270px;
  background: url("../images/temp/teacherqzone-bg.jpg") no-repeat center;
}
.teacherQzone .teacherQzoneHead .image {
  margin: 0 auto;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
}
.teacherQzone .teacherQzoneHead .image img {
  width: 100%;
  height: 100%;
}
.teacherQzone .teacherQzoneHead h1 {
  margin-top: 15px;
  font-size: 20px;
  color: #000;
  text-align: center;
}
.teacherQzone .teacherQzoneHead h1 span {
  font-size: 14px;
  color: #333;
}
.teacherQzone .teacherQzoneNav {
  display: table;
  width: 80%;
  background: #fff;
  padding: 0 10%;
  margin: 20px 0;
}
.teacherQzone .teacherQzoneNav a {
  display: table-cell;
  width: 1%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 2.8;
}
.teacherQzone .teacherQzoneNav a.active {
  color: #ff8d39;
}
.dycpop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.dycpop b {
  position: fixed;
  top: 90px;
  right: 80px;
  font-size: 60px;
  color: #000;
  z-index: 100;
  background: #fff;
  line-height: 52px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
}
.dycpop b:hover {
  cursor: pointer;
  background: #ff6c00;
  color: #fff;
}
.dycpop i {
  font-size: 60px;
  position: fixed;
  bottom: 80px;
  left: 40%;
  z-index: 100;
  color: #ff6c00;
}
.dycpop s {
  font-size: 60px;
  position: fixed;
  bottom: 80px;
  left: 60%;
  z-index: 100;
  color: #ff6c00;
}
.dycpop img {
  position: absolute;
  top: 50%;
  left: 50%;
}
.personCenter .personCenterTop {
  margin: 20px 0;
  padding: 20px 50px;
  background: #fff;
}
.personCenter .personCenterTop .topLeft {
  display: flex;
}
.personCenter .personCenterTop .topLeft .image {
  flex: 120 1 1;
  width: 120px;
  height: 120px;
  margin-right: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.personCenter .personCenterTop .topLeft .image img {
  width: 100%;
  height: 100%;
}
.personCenter .personCenterTop .topLeft .boxLeft {
  flex: 1;
}
.personCenter .personCenterTop .topLeft .boxLeft h1 {
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}
.personCenter .personCenterTop .topLeft .boxLeft h2 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666666;
}
.personCenter .personCenterTop .topLeft .boxLeft h2 span {
  padding: 0 10px;
  color: #e5e5e5;
}
.personCenter .personCenterTop .topLeft .boxLeft a {
  font-size: 16px;
  color: #ff8d39;
  text-decoration: underline;
}
.personCenter .personCenterTop .topRight {
  display: flex;
  vertical-align: middle;
}
.personCenter .personCenterTop .topRight .boxRight {
  flex: 1;
  margin-right: 120px;
}
.personCenter .personCenterTop .topRight .boxRight .item {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 29px;
  width: 33.3%;
  height: 120px;
  text-align: center;
  font-size: 20px;
  color: #333333;
}
.personCenter .personCenterTop .topRight button {
  flex: 1 1 100;
  margin-top: 42px;
  width: 100px;
  height: 36px;
  outline: none;
  border: none;
  color: #fff;
  background: #ff8d39;
  border-radius: 100px;
}
.personCenter .personCenterLeft {
  position: absolute;
  width: 155px;
  box-sizing: border-box;
  margin-right: 20px;
  background: #fff;
  padding: 20px 0;
}
.personCenter .personCenterLeft .leftCon li {
  position: relative;
  font-size: 16px;
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-bottom: 10px;
}
.personCenter .personCenterLeft .leftCon li a {
  display: block;
  padding: 0 45px;
  box-sizing: border-box;
}
.personCenter .personCenterLeft .leftCon li:last-child {
  margin-bottom: 0;
}
.personCenter .personCenterLeft .leftCon li span {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 18px;
  margin-right: 15px;
  background: url("../images/public/public-icon.png") no-repeat;
}
.personCenter .personCenterLeft .leftCon li:hover a,
.personCenter .personCenterLeft .leftCon li.active a {
  cursor: pointer;
  background: #f9f6f4;
  color: #ff8d39;
  transition: none;
}
.personCenter .personCenterLeft .leftCon li:hover:after,
.personCenter .personCenterLeft .leftCon li.active:after {
  display: table;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 45px;
  background: #ff8d39;
}
.personCenter .personCenterLeft .leftCon li.active b {
  position: absolute;
  width: 13px;
  height: 22px;
  background: url("../images/temp/jt-left-white.png") no-repeat center;
  top: 50%;
  margin-top: -10.5px;
  right: -21px;
}
.personCenter .personCenterLeft .leftCon li .course {
  background-position: -191px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .course,
.personCenter .personCenterLeft .leftCon li:hover .course {
  background-position: -191px -666px;
}
.personCenter .personCenterLeft .leftCon li .attendanc {
  background-position: -211px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .attendanc,
.personCenter .personCenterLeft .leftCon li:hover .attendanc {
  background-position: -211px -666px;
}
.personCenter .personCenterLeft .leftCon li .homework {
  background-position: -231px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .homework,
.personCenter .personCenterLeft .leftCon li:hover .homework {
  background-position: -231px -666px;
}
.personCenter .personCenterLeft .leftCon li .score {
  background-position: -251px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .score,
.personCenter .personCenterLeft .leftCon li:hover .score {
  background-position: -251px -666px;
}
.personCenter .personCenterLeft .leftCon li .resource {
  background-position: -271px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .resource,
.personCenter .personCenterLeft .leftCon li:hover .resource {
  background-position: -271px -666px;
}
.personCenter .personCenterLeft .leftCon li .activity {
  background-position: -291px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .activity,
.personCenter .personCenterLeft .leftCon li:hover .activity {
  background-position: -291px -666px;
}
.personCenter .personCenterLeft .leftCon li .office {
  background-position: -311px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .office,
.personCenter .personCenterLeft .leftCon li:hover .office {
  background-position: -311px -666px;
}
.personCenter .personCenterLeft .leftCon li .answer {
  background-position: -331px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .answer,
.personCenter .personCenterLeft .leftCon li:hover .answer {
  background-position: -331px -666px;
}
.personCenter .personCenterLeft .leftCon li .task {
  background-position: -351px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .task,
.personCenter .personCenterLeft .leftCon li:hover .task {
  background-position: -351px -666px;
}
.personCenter .personCenterLeft .leftCon li .myclass {
  background-position: -371px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .myclass,
.personCenter .personCenterLeft .leftCon li:hover .myclass {
  background-position: -371px -666px;
}
.personCenter .personCenterLeft .leftCon li .pmeeting {
  background-position: -391px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .pmeeting,
.personCenter .personCenterLeft .leftCon li:hover .pmeeting {
  background-position: -391px -666px;
}
.personCenter .personCenterLeft .leftCon li .hrecord {
  background-position: -411px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .hrecord,
.personCenter .personCenterLeft .leftCon li:hover .hrecord {
  background-position: -411px -666px;
}
.personCenter .personCenterLeft .leftCon li .tapplication {
  background-position: -431px -684px;
}
.personCenter .personCenterLeft .leftCon li.active .tapplication,
.personCenter .personCenterLeft .leftCon li:hover .tapplication {
  background-position: -431px -666px;
}
.personCenterMain {
  margin-left: 175px;
  margin-bottom: 20px;
  padding: 25px 50px;
  background: #fff;
  min-height: 750px;
}
.personCenterMain #jTeacherIframe {
  width: 100%;
  border: none;
  overflow-y: hidden;
}
.btnStyle {
  display: inline-block;
  width: 120px;
  height: 36px;
  outline: none;
  background: #fff;
  margin-right: 20px;
  border: 1px solid #ff8d39;
  color: #ff8d39;
  border-radius: 3px;
  line-height: 34px;
  box-sizing: border-box;
  text-align: center;
}
.btnStyle i {
  margin-right: 5px;
}
.btnStyle:hover {
  background: #ff8d39;
  color: #fff;
}
#zwb_upload {
  padding: 4px 10px;
  height: 20px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: #888;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#zwb_upload input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 28px;
  filter: alpha(opacity=0);
  cursor: pointer;
}
#zwb_upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none;
}
#zwb_upload_status {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
#zwb_upload_status .box {
  position: absolute;
  z-index: 100;
  top: 30px;
  left: 10%;
  width: 80%;
  height: auto;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #666;
}
#zwb_upload_status .box .title {
  width: 100%;
  border-bottom: 1px solid #ddd;
  line-height: 40px;
  text-align: center;
}
#zwb_upload_status .box .list {
  width: 100%;
  padding-bottom: 10px;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}
#zwb_upload_status .box .list ul,
#zwb_upload_status .box .list li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#zwb_upload_status .box .list ul {
  width: 100%;
  overflow: hidden;
}
#zwb_upload_status .box .list ul li {
  float: left;
  vertical-align: middle;
  width: 150px;
  position: relative;
  text-align: center;
  border: 1px solid #ddd;
  margin: 10px;
  height: 120px;
  line-height: 120px;
  cursor: pointer;
  background: url("../images/temp/upload_bg.png") no-repeat;
  background-size: 100% 100%;
}
#zwb_upload_status .box .list ul li span.success {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 35px;
  height: 35px;
  background: url("../images/temp/upload_success.png");
  background-size: 100% 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
#zwb_upload_status .box .list ul li span.success2 {
  opacity: 1;
}
#zwb_upload_status .box .list ul li span.delete {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  background: url("../images/temp/delete_white.png");
  background-size: 100% 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
#zwb_upload_status .box .list ul li img {
  display: inline;
  width: 76%;
  vertical-align: middle;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 95%;
}
#zwb_upload_status .box .list ul li a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#zwb_upload_status .box .list ul li a p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
  margin: 0;
  color: #fff;
  font-size: 12px;
}
#zwb_upload_status .box .list ul li a .name {
  margin-top: 20px;
  padding: 0 10px;
}
#zwb_upload_status .box .list ul li .progressBox {
  display: none;
  position: absolute;
  width: 100%;
  height: 9px;
  left: -1px;
  border: 1px solid #ddd;
  border-top: none;
  background: #f6f6f6;
  overflow: hidden;
}
#zwb_upload_status .box .list ul li .progressBox div {
  width: 0;
  height: 100%;
  background: lightgreen;
}
#zwb_upload_status .box .list ul li .err {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
  width: 0;
  height: 40px;
  background: #e4393c;
  color: #fff;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 1px 1px 1px #f9f9f9;
}
#zwb_upload_status .box .list ul li:hover a {
  opacity: 1;
}
#zwb_upload_status .box .list ul li:hover span.delete {
  opacity: 1;
}
#zwb_upload_status .box .list ul li:hover img {
  width: 100%;
}
#zwb_upload_status .box .foot {
  border-top: 1px solid #ddd;
  height: 50px;
}
#zwb_upload_status .box .foot span {
  float: right;
  margin-right: 15px;
  width: 120px;
  height: 30px;
  background: #00B7EE;
  color: #fff;
  line-height: 30px;
  text-align: center;
  margin-top: 7.5px;
  border-shadow: 1px 1px 1px #ddd;
  border-radius: 5px;
  cursor: pointer;
}
#zwb_upload_status .box .foot .off {
  background: none;
  border: 1px solid #ddd;
  color: #666;
}
@media screen and (max-width: 767px) {
  #zwb_upload_status .box {
    left: 0;
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }
  #zwb_upload_status .box .list {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #zwb_upload_status .box .list ul li {
    width: 118px;
    margin: 10px;
  }
}
.mActiveWrap {
  height: 100%;
  background-color: #fff;
}
.mActiveWrap .mActiveInner {
  padding: 0 0 10px 0;
}
.mActiveWrap .content {
  padding: 10px;
}
.mActiveWrap .content img {
  max-width: 100% !important;
  width: auto !important;
  height: auto !important;
}
.mActiveWrap .header {
  padding: 10px;
  box-shadow: 0 0.02rem 0.02rem 0 rgba(0, 0, 0, 0.2);
}
.mActiveWrap .header h5 {
  text-align: center;
  font-size: 20px;
  color: #333;
}
.mActiveWrap .header .className {
  font-size: 12px;
  color: #666;
}
.mActiveWrap .header .time {
  float: right;
  font-size: 12px;
  color: #666;
}
