<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="福建教育网">
    <meta name="description" content="福建教育网" />
    <title>学生个人中心-下载管理</title>
    <link rel="shortcut icon" href="../images/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/swiper,animate,scroll.min.css" />
    <link rel="stylesheet" href="../css/fetv.css" />
    <link rel="stylesheet" href="../css/fetvAppend.css" />

</head>

<body>
<header id="header">
    <student-header-template></student-header-template>
</header>
<section class="feteachercenter">
    <div class="container">
        <div id="leftaside">
            <student-left-template></student-left-template>
        </div>
        <div class="feteacherpersonalcenter-right"  style="position: relative">
            <div class="feteacherpersonalcenter-right-head ">
                <span>学习中心 <i class="uk-icon-angle-right"></i></span>
                <span>下载管理</span>
                <!--<a href="coursecenter.html" style="color: #e55e2a;margin-left: 20px;font-size: 16px">进入选课中心</a>-->
            </div>
            <!--我的课程-->
            <div class="festudentlearningnote" id="download">
                <div >
                    <!--筛选框-->
                    <div class="feselect">
                        <span>标题:</span>
                        <input type="text" placeholder="输入关键字" id="title">
                        <span style="width: 70px">资料来源:</span>
                        <input type="text" placeholder="输入关键字" id="source">
                        <button>搜索</button>
                        <!--<p><button><i class="uk-icon-plus-circle"></i>添加笔记</button></p>-->
                    </div>
                    <div class="fecontent">
                        <div class="fetitle">
                            <div class="span1">序号</div>
                            <div class="span3">资料标题</div>
                            <div class="span3">资料来源</div>
                            <div class="span2">下载时间</div>
                            <div class="span3">操作</div>
                        </div>
                        <div class="felist" v-cloak v-for="(item,index) in downloadArr">
                            <div class="span1">{{(current-1)*pageSize + index+1}}</div>
                            <div class="span3"><a v-bind:title="item.title" class="textoverflow">{{item.title}}</a></div>
                            <div class="span3"><a v-bind:title="item.source" class="textoverflow">{{item.source}}</a></div>
                            <div class="span2">{{item.downloadDate}}</div>
                            <div class="span3">
                                <a class="bulecolor" v-bind:href="item.resourcePath|downRoot" v-bind:download="item.resourcePath">下载</a>
                                <span>|</span>
                                <a @click="deleteDownload(item.resourceDownLoadId)">删除</a>
                            </div>
                        </div>
                    </div>
                    <!--枫叶-->
                    <ul class="pagenationbox" style="position: absolute;bottom: 0;left: 0;right: 0">
                        <li v-cloak v-show="current != 1" @click="current-- && goto(current--)">
                            <a href="#this">上一页</a>
                        </li>
                        <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                            <a href="#this">{{index}}</a>
                        </li>
                        <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                            <a href="#this">下一页</a>
                        </li>
                    </ul>
                </div>
                <!--编辑笔记-->
                <div id="editlearningnote">
                    <p>
                        <span>学科:</span>
                        <b>数学</b>
                        <span>课程:</span>
                        <b>初二几何</b>
                        <span style="width: 70px">添加时间:</span>
                        <b>2017/10/30</b>
                    </p>
                    <span>内容:</span>
                    <textarea name="" id="editcontent"></textarea>
                    <div class="feoperation">
                        <button>保存</button>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</section>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.zclip.js"></script>
<script type="text/javascript" src="../js/jquery.storage.js"></script>
<script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="../js/layer,wow,scroll.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/vue-resource.min.js"></script>
<script type="text/javascript" src="../js/fetv.js"></script>
<script type="text/javascript" src="../js/fetvAppend.js"></script>
<script type="text/javascript" src="../js/festudentcenter.js"></script>
<script>
    $(function () {
        download();
    })
</script>
</body>

</html>