<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="福建教育网">
    <meta name="description" content="福建教育网" />
    <title>学生个人中心-我的作业</title>
    <link rel="shortcut icon" href="../images/public/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/swiper,animate,scroll.min.css" />
    <link rel="stylesheet" href="../css/fetv.css" />
    <link rel="stylesheet" href="../css/fetvAppend.css" />

</head>

<body>
<header id="header">
    <student-header-template></student-header-template>
</header>
<section class="feteachercenter">
    <div class="container">
        <div id="leftaside">
            <student-left-template></student-left-template>
        </div>
        <div class="feteacherpersonalcenter-right"  style="position: relative">
            <!--<div style="padding-top: 80px;text-align: center">-->
                <!--<img src="images/temp/research.png" alt="">-->
            <!--</div>-->

            <div class="feteacherpersonalcenter-right-head ">
                <span>学习中心 <i class="uk-icon-angle-right"></i></span>
                <span>我的作业</span>
            </div>
            <!--我的作业-->
            <div class="feteacherfamily">
                <!--头部切换栏-->
                <!--<div class="fehead">-->
                    <!--<b>我的课程:</b>-->
                    <!--<span class="active" data-id="1">我的作业</span>-->
                    <!--&lt;!&ndash;<span data-id="2">我的考试</span>&ndash;&gt;-->
                <!--</div>-->
                <!--我的作业-->
                <div id="myhomework" class="">
                    <!--筛选框-->
                    <div class="feselect">
                        <ul>
                            <li>
                                <span>学科分类 :</span>
                                <select name="state" id="subject">
                                    <option value="0">全部</option>
                                    <option v-bind:value="item.subjectId" v-for="item in subjectArr">{{item.name}}</option>
                                </select>
                            </li>
                            <li>
                                <span>上交时间 :</span>
                                <select name="state" id="putupTime">
                                    <option value="3">全部</option>
                                    <option value="0">今天</option>
                                    <option value="1">近三天</option>
                                    <option value="2">近一周</option>
                                </select>
                            </li>
                            <li>
                                <span>完成状态 :</span>
                                <select name="state" id="state">
                                    <option value="2">全部</option>
                                    <option value="0">未完成</option>
                                    <option value="1">已完成</option>
                                </select>
                            </li>
                        </ul>
                        <!--<div class="feoperation">-->
                            <!--<button>查&nbsp;&nbsp;&nbsp;询</button>-->
                            <!--<button>清&nbsp;&nbsp;&nbsp;空</button>-->
                        <!--</div>-->
                    </div>
                    <!--内容显示栏-->
                    <div class="fecontent"  id="">
                        <div class="fetitle">
                            <div class="span1">序号</div>
                            <div class="span3">作业名称</div>
                            <div class="span2">学科</div>
                            <div class="span1">教师</div>
                            <div class="span3">上交时间</div>
                            <div class="span1">状态</div>
                            <div class="span1">操作</div>
                        </div>
                        <div class="felist" v-cloak v-for="(item,index) in homework">
                            <div class="span1">{{(current-1)*pageSize+index+1}}</div>
                            <div class="span3"><a title="item.name" class="textoverflow">{{item.name}}</a></div>
                            <div class="span2">{{item.subjectname}}</div>
                            <div class="span1">{{item.teachername}}</div>
                            <div class="span3">{{item.turnTime}}</div>
                            <div class="span1">{{item.states|changeState}}</div>
                            <div class="span1">
                                <a @click="doPaper(item.homeworkId)"  v-if="item.states==0">答题</a>
                                <a @click="goReview(item.homeworkId)" v-else class="bulecolor" >回顾</a>
                            </div>
                        </div>
                        <!--枫叶-->
                        <ul class="pagenationbox" style="position: absolute;bottom: 0;left: 0;right: 0">
                            <li v-cloak v-show="current != 1" @click="current-- && goto(current--)">
                                <a href="#this">上一页</a>
                            </li>
                            <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                                <a href="#this">{{index}}</a>
                            </li>
                            <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                                <a href="#this">下一页</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</section>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.zclip.js"></script>
<script type="text/javascript" src="../js/jquery.storage.js"></script>
<script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="../js/layer,wow,scroll.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/vue-resource.min.js"></script>
<script type="text/javascript" src="../js/fetv.js"></script>
<script type="text/javascript" src="../js/fetvAppend.js"></script>
<script type="text/javascript" src="../js/festudentcenter.js"></script>
<script>
    $(function () {
        myhomework();
    })
</script>
</body>

</html>