<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">-->
    <meta name="format-detection" content="telephone=yes">
    <meta name="Keywords" content="亿策数字校园">
    <meta name="description" content="亿策数字校园" />
    <title>名师列表</title>
    <link rel="stylesheet" href="./librarycss/base.css" />
    <link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />

</head>
<body style="background: #f4f4f4;">
<header id="header">
    <header-template></header-template>
</header>
<section id="teacherlist">
    <div class="container">
        <div class="fe-schoolteacher-head" >
            <div class="fe-schoolteacher-head-select fe-schoolteacher-head-grade" id="grade">
                <span>年级:</span>
                <a class="active" @click="clickByGrade('',$event)">不限</a>
                <a v-cloak @click="clickByGrade(item.gradeId,$event)" v-for="item in gradeArr">{{item.gradeName}}</a>
            </div>
            <div class="fe-schoolteacher-head-select" id="subject">
                <span>学科:</span>
                <a class="active"  @click="clickBySubject('',$event)">不限</a>
                <a v-cloak  v-for="item in subjectArr" @click="clickBySubject(item.subjectId,$event)">{{item.subjectName}}</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="teacherList clearfix">
            <div class="span8">
                <div class="teacherShow">
                    <div class="topLink">
                        <h1>名师展示 > <span>名师列表</span></h1>
                    </div>
                    <div class="content">
                        <div class="fenodata" v-show="nodata" v-cloak></div>
                        <a class="item" v-cloak v-for="item in teacherList" :href="item.teacherId|addTeacherRoot" target="_blank">
                            <div class="image">
                                <img :src="item.iconPath|addRootFile" alt="">
                            </div>
                            <div class="boxRight">
                                <h1 class="teacherName">{{item.teacherName}}</h1>
                                <h3 class="job">{{item.gradeName}}   {{item.subjectName}}老师</h3>
                                <h3 class="intro">{{item.specaility}}</h3>
                            </div>
                        </a>
                        <!--<div class="item">-->
                            <!--<div class="image">-->
                                <!--<img src="../../images/temp/mr-tx.png" alt="">-->
                            <!--</div>-->
                            <!--<div class="boxRight">-->
                                <!--<h1 class="teacherName">王晓辉</h1>-->
                                <!--<h3 class="job">初三（2）班   语文老师</h3>-->
                                <!--<h3 class="intro">引导探索知识！提高学习能力！</h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <ul class="pagenationbox clearfix" style="padding: 30px 0 50px">
                        <li v-show="current != 1" @click="current-- && goto(current--)">
                            <a href="#this">上一页</a>
                        </li>
                        <li v-cloak v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                            <a href="#this">{{index}}</a>
                        </li>
                        <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)">
                            <a href="#this">下一页</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span4">
                <div class="highQualityCourse">
                    <div class="moduleTitleWrapper">
                        <span class="titleTip">High quality courses </span>
                        <h1 class="title">精品课程 <a href="" class="more">more></a></h1>
                    </div>
                    <div class="content">
                        <div class="item" v-cloak v-for="item in courseArr">
                            <a class="image" :href="item.courseId,item.videoId|goToplay" target="_blank">
                                <img :src="item.iconPath|addRootFile" alt="">
                                <div class="mask"><span class="play-icon"></span></div>
                            </a>
                            <div class="boxRight">
                                <h1 class="courseName">{{item.courseName}}</h1>
                                <div class="bottom">
                                    <span :style="{background:'url('+ item.teacherIconPath +') no-repeat center'}"></span>
                                    <div class="desc">
                                        <h4>{{item.teacherName}}老师</h4>
                                        <h4>{{item.playCount}}次播放</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="item">-->
                            <!--<div class="image">-->
                                <!--<img src="../../images/temp/course@173-114.jpg" alt="">-->
                                <!--<div class="mask"><span class="play-icon"></span></div>-->
                            <!--</div>-->
                            <!--<div class="boxRight">-->
                                <!--<h1 class="courseName">国际市场营销学第三节课程</h1>-->
                                <!--<div class="bottom">-->
                                    <!--<span></span>-->
                                    <!--<div class="desc">-->
                                        <!--<h4>杨江宇老师</h4>-->
                                        <!--<h4>1.7万次播放</h4>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="teachingAndResearch">
                    <div class="moduleTitleWrapper">
                        <span class="titleTip">Teaching and research </span>
                        <h1 class="title">教研活动 <a href="teachingactivities.html" class="more" target="_blank">more></a></h1>
                    </div>
                    <div class="content">
                        <a class="item" v-cloak v-for="item in activityArr" :href="item.resultId|addActivity">
                            <div class="image">
                                <img :src="item.coverUrl|addRootFile" alt="">
                            </div>
                            <h1>{{item.title}}</h1>
                        </a>
                        <!--<a class="item">-->
                            <!--<div class="image">-->
                                <!--<img src="../../images/temp/course@276-187.jpg" alt="">-->
                            <!--</div>-->
                            <!--<h1>国际市场营销学第三节课程</h1>-->
                        <!--</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <footer-template></footer-template>
</footer>
<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
<script type="text/javascript" src="./libraryjs/config.js"></script>
</body>
</html>