<!DOCTYPE html>
<html lang="en">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=yes">
		<meta name="Keywords" content="亿策数字校园">
		<meta name="description" content="亿策数字校园" />
		<title>亿策数字校园</title>
		<link rel="stylesheet" href="./librarycss/base.css" />
		<link rel="stylesheet" href="./librarycss/swiper,animate,scroll.min.css" />

	</head>
<body>

	<section class="mActiveWrap" id="jmtactivityApp">
		<div class="container full">
			<div class="mActiveInner" v-for="item in activityArr" v-cloak>
				<div class="header">
					<h5>{{item.title}}</h5>
					<span class="className">{{item.publishName}}</span>
					<span class="time">{{item.addTime}}</span>
				</div>
				<div class="content" v-html="item.describe"></div>
				<div class="fenodata" v-if="!item.resultId"></div>
			</div>
		</div>
	</section>

	<script type="text/javascript" src="./libraryjs/jquery.min.js"></script>
	<script type="text/javascript" src="./libraryjs/jquery.storage.js"></script>
	<script type="text/javascript" src="./libraryjs/swiper.min.js"></script>
	<script type="text/javascript" src="./libraryjs/layer,wow,scroll.js"></script>
	<script type="text/javascript" src="./libraryjs/vue.min.js"></script>
	<script type="text/javascript" src="./libraryjs/vue-resource.min.js"></script>
	<script type="text/javascript" src="./libraryjs/config.js"></script>
</body>
</html>