.modifyPwdWrap {
  width: 650px;
  height: 340px;
  margin: auto;
  color: #333;
}
.modifyPwdWrap .modifyPwdInner {
  padding: 36px 0;
}
.modifyPwdWrap .label {
  position: relative;
  text-align: center;
  line-height: 54px;
}
.modifyPwdWrap .label input {
  width: 280px;
  height: 32px;
  text-indent: 12px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #ccc;
}
.modifyPwdWrap .error {
  position: absolute;
  right: 146px;
  top: 4px;
  font-size: 12px;
  color: #f00;
}
.modifyPwdWrap .modifyPwdBtnGroup {
  margin: 34px 0;
  text-align: center;
}
.modifyPwdWrap .modifyPwdBtnGroup a {
  display: inline-block;
  width: 150px;
  line-height: 34px;
  text-align: center;
  border-radius: 3px;
}
.modifyPwdWrap .modifyPwdBtnGroup .sureBtn {
  margin-right: 52px;
  color: #fff;
  background-color: #ff8d39;
  border: 1px solid #ff8d39;
}
.modifyPwdWrap .modifyPwdBtnGroup .sureBtn:hover {
  background-color: #d25900;
}
.modifyPwdWrap .modifyPwdBtnGroup .cancelBtn {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}
.modifyPwdWrap .modifyPwdBtnGroup .cancelBtn:hover {
  background-color: #c9c9c9;
}
